 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0.html>
drama</br>
adventure</br>
mission</br>
women</br>
journey</br>
history</br>
secret</br>
friend</br>
american</br>
documentary</br>
people</br>
group</br>
</a></div>
<div class="column"><a href=0_0_1.html>
filmed</br>
culture</br>
humor</br>
netflix</br>
comic</br>
stage</br>
comedy special</br>
stand special</br>
comedian</br>
comedy</br>
special</br>
stand</br>
</a></div>
<div class="column"><a href=0_0_2.html>
death</br>
sister</br>
teenage</br>
friend</br>
estranged</br>
brother</br>
night</br>
music</br>
mother</br>
daughter</br>
relationship</br>
father</br>
</a></div>
<div class="column"><a href=0_0_3.html>
solve</br>
small</br>
serial</br>
prison</br>
officer</br>
killer</br>
detective</br>
criminal</br>
death</br>
crime</br>
murder</br>
police</br>
</a></div>
<div class="column"><a href=0_0_4.html>
travel</br>
explore</br>
discover</br>
secret</br>
human</br>
mission</br>
group</br>
documentary</br>
social</br>
people</br>
journey</br>
world</br>
</a></div>
</div></br>
Top picks:</br>
Our Planet  (IMDB rating: 9.3)</br>
Fullmetal Alchemist: Brotherhood  (IMDB rating: 9.1)</br>
Ramayan  (IMDB rating: 9.1)</br>
Leah Remini: Scientology and the Aftermath  (IMDB rating: 9.1)</br>
Sherlock  (IMDB rating: 9.1)</br>
C/o Kancharapalem  (IMDB rating: 9.0)</br>
The Twilight Zone  (IMDB rating: 9.0)</br>
Bye Bye London  (IMDB rating: 9.0)</br>
Raja Rasoi Aur Anya Kahaniyan  (IMDB rating: 9.0)</br>
Death Note  (IMDB rating: 9.0)</br>
The Dark Knight  (IMDB rating: 9.0)</br>
Numberblocks  (IMDB rating: 8.9)</br>
Rubaru Roshni  (IMDB rating: 8.9)</br>
Hunter x Hunter  (IMDB rating: 8.9)</br>
La Grande Chaumière Violette  (IMDB rating: 8.9)</br>
When They See Us  (IMDB rating: 8.9)</br>
One-Punch Man  (IMDB rating: 8.8)</br>
Twin Peaks  (IMDB rating: 8.8)</br>
Inception  (IMDB rating: 8.8)</br>
Stories by Rabindranath Tagore  (IMDB rating: 8.8)</br>
</br></br><a href=index.html>start over</a>