 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
WWII in HD  (IMDB rating: 8.7)</br>
Narcos: Mexico  (IMDB rating: 8.4)</br>
Designated Survivor: 60 Days  (IMDB rating: 8.1)</br>
Jeff Dunham: Arguing with Myself  (IMDB rating: 8.0)</br>
Pee-wee's Playhouse  (IMDB rating: 8.0)</br>
American Masters  (IMDB rating: 8.0)</br>
Street Food: Latin America  (IMDB rating: 7.9)</br>
Seven Seconds  (IMDB rating: 7.7)</br>
Isa Pa, with Feelings  (IMDB rating: 7.7)</br>
Who Killed Malcolm X?  (IMDB rating: 7.6)</br>
Bolívar: Una lucha admirable  (IMDB rating: 7.5)</br>
Crazy, Stupid, Love.  (IMDB rating: 7.4)</br>
Dave Chappelle: The Kennedy Center Mark Twain Prize  (IMDB rating: 7.4)</br>
A Year In Space  (IMDB rating: 7.4)</br>
Shirkers  (IMDB rating: 7.4)</br>
The Last Resort  (IMDB rating: 7.3)</br>
Colin Quinn: Unconstitutional  (IMDB rating: 7.2)</br>
Jeff Dunham: All Over the Map  (IMDB rating: 7.1)</br>
The American Meme  (IMDB rating: 7.0)</br>
Mumbai Diaries  (IMDB rating: 7.0)</br>
</br></br><a href=index.html>start over</a>