 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0_3_1.html>
forest</br>
thing</br>
trapped</br>
reality</br>
small</br>
london</br>
company</br>
romance</br>
money</br>
strange</br>
student</br>
place</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_3_2.html>
teacher</br>
concert</br>
africa</br>
happy</br>
share</br>
violent</br>
romance</br>
alive</br>
question</br>
given</br>
brutal</br>
prison</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_3_4.html>
hunter</br>
called</br>
academy</br>
quest</br>
danger</br>
track</br>
protect</br>
agent</br>
mexico</br>
africa</br>
training</br>
rescue</br>
</a></div>
</div></br>
Top picks:</br>
El Reemplazante  (IMDB rating: 8.5)</br>
Django Unchained  (IMDB rating: 8.4)</br>
Bill Burr: You People Are All The Same  (IMDB rating: 8.3)</br>
Neon Genesis Evangelion: The End of Evangelion  (IMDB rating: 8.1)</br>
Fariña  (IMDB rating: 8.0)</br>
Love O2O  (IMDB rating: 8.0)</br>
Surviving Escobar - Alias JJ  (IMDB rating: 7.9)</br>
You Are My Sunday  (IMDB rating: 7.8)</br>
Rock On!!  (IMDB rating: 7.7)</br>
Firefly Lane  (IMDB rating: 7.5)</br>
Marvel's Luke Cage  (IMDB rating: 7.3)</br>
HiGH&LOW The Movie 2: End of Sky  (IMDB rating: 7.3)</br>
Barbie: Life in the Dreamhouse  (IMDB rating: 7.3)</br>
Eeda  (IMDB rating: 7.2)</br>
Gabbar Is Back  (IMDB rating: 7.1)</br>
Transformers: Rescue Bots Academy  (IMDB rating: 7.0)</br>
Los Tigres del Norte at Folsom Prison  (IMDB rating: 7.0)</br>
Smoke & Mirrors  (IMDB rating: 6.9)</br>
My Sassy Girl  (IMDB rating: 6.9)</br>
Legendary Weapons of China  (IMDB rating: 6.9)</br>
</br></br><a href=index.html>start over</a>