 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_1_0_0.html>
frank</br>
summer</br>
nation</br>
aspiring</br>
mexico</br>
different</br>
everyday</br>
inner</br>
strange</br>
dating</br>
stand</br>
comic</br>
</a></div>
<div class="column"><a href=0_0_1_0_2.html>
street</br>
personal</br>
filmed</br>
michael</br>
point</br>
unique</br>
biggest</br>
audience</br>
favorite</br>
india</br>
known</br>
stand</br>
</a></div>
<div class="column"><a href=0_0_1_0_4.html>
modern</br>
actor</br>
coming</br>
attack</br>
packed</br>
audience</br>
black</br>
house</br>
writer</br>
night</br>
stand</br>
comedian</br>
</a></div>
</div></br>
Top picks:</br>
Chappelle's Show  (IMDB rating: 8.8)</br>
James Acaster: Repertoire  (IMDB rating: 8.5)</br>
John Mulaney: New in Town  (IMDB rating: 8.3)</br>
Swades  (IMDB rating: 8.2)</br>
Todo lo que sería Lucas Lauriente  (IMDB rating: 7.8)</br>
Jim Gaffigan: King Baby  (IMDB rating: 7.8)</br>
Mehandi Circus  (IMDB rating: 7.4)</br>
The Accountant of Auschwitz  (IMDB rating: 7.3)</br>
Michael Che Matters  (IMDB rating: 7.2)</br>
Greg Davies: You Magnificent Beast  (IMDB rating: 7.2)</br>
Marc Maron: Too Real  (IMDB rating: 7.2)</br>
The Siege of Jadotville  (IMDB rating: 7.2)</br>
Ip Man 3  (IMDB rating: 7.1)</br>
Jeff Dunham: Minding the Monsters  (IMDB rating: 7.1)</br>
Katherine Ryan: In Trouble  (IMDB rating: 7.0)</br>
Comedian  (IMDB rating: 6.9)</br>
Franco Escamilla: For the Anecdote  (IMDB rating: 6.9)</br>
Todd Barry: Spicy Honey  (IMDB rating: 6.8)</br>
Agustín Aristarán: Soy Rada  (IMDB rating: 6.8)</br>
El Especial de Alex Fernández, el Especial  (IMDB rating: 6.7)</br>
</br></br><a href=index.html>start over</a>