 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Best Wishes, Warmest Regards: A Schitt's Creek Farewell  (IMDB rating: 8.7)</br>
The Chef Show  (IMDB rating: 8.2)</br>
Eddie Murphy Raw  (IMDB rating: 7.7)</br>
Breakfast, Lunch & Dinner  (IMDB rating: 6.8)</br>
Samantha!  (IMDB rating: 6.6)</br>
Ron White: If You Quit Listening, I'll Shut Up  (IMDB rating: 6.5)</br>
Nobody Speak: Trials of the Free Press  (IMDB rating: 6.4)</br>
The Man Without Gravity  (IMDB rating: 6.3)</br>
Between Two Ferns: The Movie  (IMDB rating: 6.1)</br>
Tootsies & The Fake  (IMDB rating: 5.9)</br>
#cats_the_mewvie  (IMDB rating: 5.3)</br>
#realityhigh  (IMDB rating: 5.2)</br>
Squared Love  (IMDB rating: 4.9)</br>
Bookmarks: Celebrating Black Voices  (IMDB rating: 4.6)</br>
</br></br><a href=index.html>start over</a>