 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Fullmetal Alchemist: Brotherhood  (IMDB rating: 9.1)</br>
Wentworth  (IMDB rating: 8.6)</br>
The Trials of Gabriel Fernandez  (IMDB rating: 8.2)</br>
How to Get Away with Murder  (IMDB rating: 8.1)</br>
The Keepers  (IMDB rating: 8.1)</br>
Altered Carbon  (IMDB rating: 8.0)</br>
Queen of the South  (IMDB rating: 7.9)</br>
The Staircase  (IMDB rating: 7.9)</br>
Giri/Haji  (IMDB rating: 7.9)</br>
Crime Diaries: Night Out  (IMDB rating: 7.8)</br>
Dogs of Berlin  (IMDB rating: 7.6)</br>
Haven  (IMDB rating: 7.6)</br>
Her Mother's Killer  (IMDB rating: 7.6)</br>
Einsatzgruppen: The Nazi Death Squads  (IMDB rating: 7.6)</br>
The Twelve  (IMDB rating: 7.5)</br>
U Turn  (IMDB rating: 7.5)</br>
Better Than Us  (IMDB rating: 7.4)</br>
Long Shot  (IMDB rating: 7.4)</br>
The Next Three Days  (IMDB rating: 7.3)</br>
ReMastered: Massacre at the Stadium  (IMDB rating: 7.3)</br>
</br></br><a href=index.html>start over</a>