 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
North & South  (IMDB rating: 8.6)</br>
Bobby Kennedy for President  (IMDB rating: 8.2)</br>
AJ and the Queen  (IMDB rating: 7.5)</br>
The Great Heist  (IMDB rating: 7.3)</br>
Steel Rain  (IMDB rating: 7.1)</br>
Zumbo's Just Desserts  (IMDB rating: 6.9)</br>
The Expanding Universe of Ashley Garcia  (IMDB rating: 6.8)</br>
First and Last  (IMDB rating: 6.8)</br>
Z Nation  (IMDB rating: 6.7)</br>
Boy Missing  (IMDB rating: 6.4)</br>
The Ant's Scream  (IMDB rating: 6.3)</br>
Perú: Tesoro Escondido  (IMDB rating: 6.1)</br>
Delirium  (IMDB rating: 5.7)</br>
Black Beach  (IMDB rating: 5.5)</br>
Aiyaary  (IMDB rating: 5.3)</br>
We Summon the Darkness  (IMDB rating: 5.2)</br>
Surviving Christmas with the Relatives  (IMDB rating: 5.1)</br>
</br></br><a href=index.html>start over</a>