 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Better Call Saul  (IMDB rating: 8.7)</br>
Hannibal  (IMDB rating: 8.5)</br>
Andaz Apna Apna  (IMDB rating: 8.2)</br>
Cool Hand Luke  (IMDB rating: 8.1)</br>
Criminal Minds  (IMDB rating: 8.1)</br>
Man Like Mobeen  (IMDB rating: 8.0)</br>
American Crime  (IMDB rating: 7.8)</br>
Brotherhood  (IMDB rating: 7.5)</br>
Naruto Shippuden the Movie: Blood Prison  (IMDB rating: 7.3)</br>
The Professor and the Madman  (IMDB rating: 7.3)</br>
Under Arrest  (IMDB rating: 7.3)</br>
Aquarius  (IMDB rating: 7.1)</br>
Hummingbird  (IMDB rating: 6.2)</br>
Killing Them Softly  (IMDB rating: 6.2)</br>
Crime Time  (IMDB rating: 6.2)</br>
Code 8  (IMDB rating: 6.1)</br>
Class of '83  (IMDB rating: 5.8)</br>
Are We Done  (IMDB rating: 5.8)</br>
War on Everyone  (IMDB rating: 5.8)</br>
Helios  (IMDB rating: 5.6)</br>
</br></br><a href=index.html>start over</a>