 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Hyori's Bed and Breakfast  (IMDB rating: 8.7)</br>
People Just Do Nothing  (IMDB rating: 8.5)</br>
Violet Evergarden  (IMDB rating: 8.4)</br>
Japanese Style Originator  (IMDB rating: 8.3)</br>
Street Food  (IMDB rating: 8.2)</br>
Disclosure  (IMDB rating: 8.2)</br>
The Square  (IMDB rating: 8.1)</br>
Travelers  (IMDB rating: 8.1)</br>
Dev.D  (IMDB rating: 8.0)</br>
Stay Tuned!  (IMDB rating: 8.0)</br>
Marvel's Jessica Jones  (IMDB rating: 7.9)</br>
Awe!  (IMDB rating: 7.8)</br>
New Girl  (IMDB rating: 7.7)</br>
Amend: The Fight for America  (IMDB rating: 7.6)</br>
Black Hollywood: 'They've Gotta Have Us'  (IMDB rating: 7.6)</br>
Surviving R. Kelly  (IMDB rating: 7.6)</br>
On Body and Soul  (IMDB rating: 7.6)</br>
Lion Pride  (IMDB rating: 7.5)</br>
Life in a Metro  (IMDB rating: 7.4)</br>
Even the Rain  (IMDB rating: 7.4)</br>
</br></br><a href=index.html>start over</a>