 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Training Day  (IMDB rating: 7.7)</br>
100 Days My Prince  (IMDB rating: 7.6)</br>
The Interview  (IMDB rating: 7.1)</br>
Noddy, Toyland Detective  (IMDB rating: 6.9)</br>
Loving You  (IMDB rating: 6.4)</br>
Wu Assassins  (IMDB rating: 6.4)</br>
Bobby Jasoos  (IMDB rating: 5.5)</br>
Christmas Catch  (IMDB rating: 5.4)</br>
The Happytime Murders  (IMDB rating: 5.4)</br>
Hangman  (IMDB rating: 5.3)</br>
Handsome: A Netflix Mystery Movie  (IMDB rating: 5.2)</br>
Oddbods: Party Monsters  (IMDB rating: 4.5)</br>
</br></br><a href=index.html>start over</a>