 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Dark  (IMDB rating: 8.8)</br>
K. D.  (IMDB rating: 8.6)</br>
Examination of Conscience  (IMDB rating: 8.0)</br>
The OA  (IMDB rating: 7.9)</br>
Black Earth Rising  (IMDB rating: 7.5)</br>
Kalel, 15  (IMDB rating: 7.3)</br>
Si Doel the Movie 2  (IMDB rating: 7.0)</br>
Julie & Julia  (IMDB rating: 7.0)</br>
Before I Wake  (IMDB rating: 6.2)</br>
The Rugrats Movie  (IMDB rating: 5.9)</br>
706  (IMDB rating: 5.3)</br>
The Amazing Praybeyt Benjamin  (IMDB rating: 4.1)</br>
The First Lady  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>