 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
A Truthful Mother  (IMDB rating: 8.3)</br>
I Am Kalam  (IMDB rating: 8.0)</br>
Alphablocks  (IMDB rating: 7.8)</br>
Weed the People  (IMDB rating: 7.3)</br>
Pajanimals  (IMDB rating: 7.3)</br>
Franco Escamilla: bienvenido al mundo  (IMDB rating: 7.2)</br>
Marc Maron: End Times Fun  (IMDB rating: 6.8)</br>
Chico Bon Bon: Monkey with a Tool Belt  (IMDB rating: 6.8)</br>
Almost Happy  (IMDB rating: 6.7)</br>
Bird Box  (IMDB rating: 6.6)</br>
Unspeakable Acts  (IMDB rating: 6.3)</br>
Zip & Zap and the Captain's Island  (IMDB rating: 5.7)</br>
Kids on the Block  (IMDB rating: 5.6)</br>
We Are All for the Fatherland  (IMDB rating: 5.2)</br>
Holiday Rush  (IMDB rating: 4.9)</br>
</br></br><a href=index.html>start over</a>