 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0_0_0_0.html>
master</br>
middle</br>
attack</br>
remote</br>
beautiful</br>
rural</br>
teacher</br>
human</br>
college</br>
owner</br>
truth</br>
island</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_0_1.html>
hometown</br>
childhood</br>
return</br>
island</br>
situation</br>
leave</br>
extraordinary</br>
prince</br>
talented</br>
martial</br>
summer</br>
artist</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_0_2.html>
called</br>
violent</br>
musical</br>
present</br>
navigate</br>
finally</br>
realize</br>
protect</br>
little</br>
doesn</br>
village</br>
small</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_0_4.html>
owner</br>
night</br>
share</br>
house</br>
truth</br>
unexpectedly</br>
birthday</br>
taken</br>
powerful</br>
wedding</br>
romance</br>
party</br>
</a></div>
</div></br>
Top picks:</br>
C/o Kancharapalem  (IMDB rating: 9.0)</br>
When They See Us  (IMDB rating: 8.9)</br>
Narcos  (IMDB rating: 8.8)</br>
Twin Peaks  (IMDB rating: 8.8)</br>
One-Punch Man  (IMDB rating: 8.8)</br>
Rhyme Time Town Singalongs  (IMDB rating: 8.6)</br>
Fullmetal Alchemist  (IMDB rating: 8.5)</br>
Black Friday  (IMDB rating: 8.5)</br>
Julie's Greenroom  (IMDB rating: 8.5)</br>
Medal of Honor  (IMDB rating: 8.4)</br>
Babylon Berlin  (IMDB rating: 8.4)</br>
Kipo and the Age of Wonderbeasts  (IMDB rating: 8.4)</br>
November 13: Attack on Paris  (IMDB rating: 8.3)</br>
Love Ni Bhavai  (IMDB rating: 8.3)</br>
Castlevania  (IMDB rating: 8.2)</br>
Queen  (IMDB rating: 8.2)</br>
Klaus  (IMDB rating: 8.2)</br>
Handsome Siblings  (IMDB rating: 8.2)</br>
Barfi!  (IMDB rating: 8.1)</br>
Cheer  (IMDB rating: 8.1)</br>
</br></br><a href=index.html>start over</a>