 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
C/o Kancharapalem  (IMDB rating: 9.0)</br>
Twin Peaks  (IMDB rating: 8.8)</br>
Klaus  (IMDB rating: 8.2)</br>
Lilyhammer  (IMDB rating: 8.0)</br>
Strangers From Hell  (IMDB rating: 7.9)</br>
Ragnarok  (IMDB rating: 7.5)</br>
Do Do Sol Sol La La Sol  (IMDB rating: 7.4)</br>
Borderline  (IMDB rating: 7.2)</br>
Tread  (IMDB rating: 7.1)</br>
Riverdale  (IMDB rating: 6.9)</br>
Fashion  (IMDB rating: 6.9)</br>
Wildlife  (IMDB rating: 6.8)</br>
Willy and the Guardians of the Lake  (IMDB rating: 6.7)</br>
Spirit: Riding Free  (IMDB rating: 6.6)</br>
Sand Castle  (IMDB rating: 6.3)</br>
Billu  (IMDB rating: 6.2)</br>
Welcome Mr. President!  (IMDB rating: 6.2)</br>
Pizza  (IMDB rating: 6.2)</br>
Sweetheart  (IMDB rating: 5.8)</br>
Candy Online  (IMDB rating: 5.5)</br>
</br></br><a href=index.html>start over</a>