 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
El Reemplazante  (IMDB rating: 8.5)</br>
Surviving Escobar - Alias JJ  (IMDB rating: 7.9)</br>
Marvel's Luke Cage  (IMDB rating: 7.3)</br>
HiGH&LOW The Movie 2: End of Sky  (IMDB rating: 7.3)</br>
Los Tigres del Norte at Folsom Prison  (IMDB rating: 7.0)</br>
The Fury of a Patient Man  (IMDB rating: 6.8)</br>
Shepherds and Butchers  (IMDB rating: 6.8)</br>
Disciples of the 36th Chamber  (IMDB rating: 6.5)</br>
Murder to Mercy: The Cyntoia Brown Story  (IMDB rating: 6.3)</br>
Villain  (IMDB rating: 5.8)</br>
Eli  (IMDB rating: 5.7)</br>
Convict  (IMDB rating: 5.4)</br>
Death Race: Beyond Anarchy  (IMDB rating: 5.2)</br>
Paradise Beach  (IMDB rating: 4.5)</br>
30 Days of Luxury  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>