 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Black Mirror  (IMDB rating: 8.8)</br>
Christiane Amanpour: Sex & Love Around the World  (IMDB rating: 7.4)</br>
Pine Gap  (IMDB rating: 7.2)</br>
Inside the World's Toughest Prisons  (IMDB rating: 7.1)</br>
East Side Sushi  (IMDB rating: 7.1)</br>
Land Girls  (IMDB rating: 7.0)</br>
The Single Wives  (IMDB rating: 6.9)</br>
Edge of Seventeen  (IMDB rating: 6.8)</br>
I Am Not an Easy Man  (IMDB rating: 6.3)</br>
Iron Ladies  (IMDB rating: 6.0)</br>
21 Again  (IMDB rating: 5.1)</br>
Deliha 2  (IMDB rating: 4.5)</br>
</br></br><a href=index.html>start over</a>