 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Fifty  (IMDB rating: 8.4)</br>
Godless  (IMDB rating: 8.3)</br>
Caliphate  (IMDB rating: 8.2)</br>
Terrace House: Boys & Girls in the City  (IMDB rating: 8.2)</br>
Another Miss Oh  (IMDB rating: 7.9)</br>
The Bonfire of Destiny  (IMDB rating: 7.7)</br>
Cable Girls  (IMDB rating: 7.6)</br>
Workin' Moms  (IMDB rating: 7.6)</br>
I Am Divine  (IMDB rating: 7.6)</br>
Outback Truckers  (IMDB rating: 7.5)</br>
The Laundromat  (IMDB rating: 7.5)</br>
Battlefish  (IMDB rating: 7.2)</br>
Feminists: What Were They Thinking?  (IMDB rating: 7.0)</br>
Seeing Allred  (IMDB rating: 6.9)</br>
50 First Dates  (IMDB rating: 6.8)</br>
The Many Faces of Ito  (IMDB rating: 6.7)</br>
Clair Obscur  (IMDB rating: 6.5)</br>
Women Behind Bars  (IMDB rating: 6.5)</br>
Whitney Cummings: Money Shot  (IMDB rating: 6.3)</br>
The Breaker Upperers  (IMDB rating: 5.9)</br>
</br></br><a href=index.html>start over</a>