 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0_0_0.html>
wedding</br>
taken</br>
teacher</br>
powerful</br>
owner</br>
romance</br>
personal</br>
party</br>
artist</br>
truth</br>
island</br>
small</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_1.html>
president</br>
middle</br>
meeting</br>
wanted</br>
brutal</br>
unexpectedly</br>
village</br>
social</br>
hometown</br>
tragic</br>
cancer</br>
struggle</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_2.html>
deadly</br>
cancer</br>
husband</br>
terrorist</br>
navigate</br>
party</br>
program</br>
british</br>
episode</br>
faith</br>
compete</br>
learn</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_3.html>
eccentric</br>
named</br>
production</br>
funny</br>
including</br>
corruption</br>
husband</br>
driver</br>
kingdom</br>
company</br>
money</br>
chance</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_4.html>
sarah</br>
company</br>
learn</br>
confront</br>
local</br>
leaving</br>
entire</br>
justice</br>
rural</br>
center</br>
community</br>
forced</br>
</a></div>
</div></br>
Top picks:</br>
C/o Kancharapalem  (IMDB rating: 9.0)</br>
When They See Us  (IMDB rating: 8.9)</br>
Narcos  (IMDB rating: 8.8)</br>
Inception  (IMDB rating: 8.8)</br>
Twin Peaks  (IMDB rating: 8.8)</br>
One-Punch Man  (IMDB rating: 8.8)</br>
A Lion in the House  (IMDB rating: 8.7)</br>
Rhyme Time Town Singalongs  (IMDB rating: 8.6)</br>
Black Friday  (IMDB rating: 8.5)</br>
Mystery Science Theater 3000  (IMDB rating: 8.5)</br>
Fullmetal Alchemist  (IMDB rating: 8.5)</br>
Julie's Greenroom  (IMDB rating: 8.5)</br>
True: Happy Hearts Day  (IMDB rating: 8.5)</br>
The Mechanism  (IMDB rating: 8.4)</br>
Kipo and the Age of Wonderbeasts  (IMDB rating: 8.4)</br>
Ash vs Evil Dead  (IMDB rating: 8.4)</br>
Medal of Honor  (IMDB rating: 8.4)</br>
Babylon Berlin  (IMDB rating: 8.4)</br>
The King's Avatar  (IMDB rating: 8.3)</br>
November 13: Attack on Paris  (IMDB rating: 8.3)</br>
</br></br><a href=index.html>start over</a>