 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Castlevania  (IMDB rating: 8.2)</br>
Silver Linings Playbook  (IMDB rating: 7.7)</br>
Love 101  (IMDB rating: 7.5)</br>
Somewhere Only We Know  (IMDB rating: 7.3)</br>
Olmo and the Seagull  (IMDB rating: 7.3)</br>
Live Twice, Love Once  (IMDB rating: 7.2)</br>
The Five Venoms  (IMDB rating: 7.1)</br>
Love on Delivery  (IMDB rating: 6.9)</br>
All Good  (IMDB rating: 6.5)</br>
ID-0  (IMDB rating: 6.1)</br>
Crime Scene: The Vanishing at the Cecil Hotel  (IMDB rating: 5.9)</br>
Barry  (IMDB rating: 5.8)</br>
God's Not Dead  (IMDB rating: 4.7)</br>
</br></br><a href=index.html>start over</a>