 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Cowspiracy: The Sustainability Secret  (IMDB rating: 8.3)</br>
PK  (IMDB rating: 8.1)</br>
Cristina  (IMDB rating: 8.0)</br>
Yunus Emre: Aşkın Yolculuğu  (IMDB rating: 8.0)</br>
Mike Birbiglia: My Girlfriend's Boyfriend  (IMDB rating: 8.0)</br>
Kantaro: The Sweet Tooth Salaryman  (IMDB rating: 7.7)</br>
Beasts of No Nation  (IMDB rating: 7.7)</br>
What Happened, Miss Simone?  (IMDB rating: 7.6)</br>
Love You to the Stars and Back  (IMDB rating: 7.6)</br>
Bareilly's Barfi  (IMDB rating: 7.5)</br>
Best Worst Thing That Ever Could Have Happened...  (IMDB rating: 7.5)</br>
Father Soldier Son  (IMDB rating: 7.4)</br>
The Gift  (IMDB rating: 7.4)</br>
Capital in the Twenty-First Century  (IMDB rating: 7.3)</br>
Paddleton  (IMDB rating: 7.2)</br>
Fearless  (IMDB rating: 7.2)</br>
The White Tiger  (IMDB rating: 7.2)</br>
The Witcher: A Look Inside the Episodes  (IMDB rating: 7.1)</br>
The Danish Girl  (IMDB rating: 7.1)</br>
Keith Richards: Under the Influence  (IMDB rating: 7.1)</br>
</br></br><a href=index.html>start over</a>