 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
A Lion in the House  (IMDB rating: 8.7)</br>
Derek  (IMDB rating: 8.0)</br>
Resurrection: Ertugrul  (IMDB rating: 7.9)</br>
Habibie & Ainun  (IMDB rating: 7.6)</br>
Sensitive Skin  (IMDB rating: 7.2)</br>
Always Be My Maybe  (IMDB rating: 6.8)</br>
Crossroads: One Two Jaga  (IMDB rating: 6.5)</br>
Phone Swap  (IMDB rating: 6.1)</br>
The Memory of Water  (IMDB rating: 6.1)</br>
The Skin of the Wolf  (IMDB rating: 5.8)</br>
A Family Reunion Christmas  (IMDB rating: 5.6)</br>
ATM  (IMDB rating: 4.7)</br>
Mater  (IMDB rating: 4.6)</br>
A House of Blocks  (IMDB rating: nan)</br>
Diamonds In The Sky  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>