 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_1_0.html>
women</br>
getting</br>
explore</br>
writer</br>
holiday</br>
child</br>
female</br>
adventure</br>
married</br>
marriage</br>
couple</br>
journey</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_1.html>
danger</br>
complex</br>
beauty</br>
korean</br>
romance</br>
caught</br>
career</br>
reality</br>
holiday</br>
college</br>
women</br>
different</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_2.html>
produced</br>
little</br>
episode</br>
horror</br>
serial</br>
comedy</br>
aired</br>
starring</br>
taiwan</br>
television</br>
channel</br>
drama</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_3.html>
country</br>
finding</br>
french</br>
turning</br>
living</br>
black</br>
social</br>
popular</br>
stage</br>
little</br>
funny</br>
comic</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_4.html>
animated</br>
house</br>
cancer</br>
journalist</br>
culture</br>
explore</br>
extraordinary</br>
company</br>
society</br>
doctor</br>
celebrity</br>
children</br>
</a></div>
</div></br>
Top picks:</br>
The Twilight Zone  (IMDB rating: 9.0)</br>
Dark  (IMDB rating: 8.8)</br>
Best Wishes, Warmest Regards: A Schitt's Creek Farewell  (IMDB rating: 8.7)</br>
K. D.  (IMDB rating: 8.6)</br>
Star Trek: The Next Generation  (IMDB rating: 8.6)</br>
Go Dog Go  (IMDB rating: 8.5)</br>
The IT Crowd  (IMDB rating: 8.5)</br>
Unbelievable  (IMDB rating: 8.4)</br>
Our Planet: Behind The Scenes  (IMDB rating: 8.4)</br>
Midnight Diner: Tokyo Stories  (IMDB rating: 8.4)</br>
The Ollie & Moon Show  (IMDB rating: 8.4)</br>
Chicago Typewriter  (IMDB rating: 8.3)</br>
A Truthful Mother  (IMDB rating: 8.3)</br>
Go! Go! Cory Carson  (IMDB rating: 8.3)</br>
Dragons: Race to the Edge  (IMDB rating: 8.3)</br>
Cowspiracy: The Sustainability Secret  (IMDB rating: 8.3)</br>
Queer Eye: We're in Japan!  (IMDB rating: 8.2)</br>
The Chef Show  (IMDB rating: 8.2)</br>
Reply 1997  (IMDB rating: 8.2)</br>
A Thousand Days' Promise  (IMDB rating: 8.2)</br>
</br></br><a href=index.html>start over</a>