 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Cleo & Cuquin  (IMDB rating: 7.9)</br>
Cupcake & Dino - General Services  (IMDB rating: 7.6)</br>
Good Time  (IMDB rating: 7.4)</br>
Seventeen  (IMDB rating: 7.2)</br>
Ice Fantasy  (IMDB rating: 7.1)</br>
Duniya  (IMDB rating: 7.1)</br>
Treehouse Detectives  (IMDB rating: 7.0)</br>
Enola Holmes  (IMDB rating: 6.6)</br>
White Lines  (IMDB rating: 6.6)</br>
The Lost Brother  (IMDB rating: 6.5)</br>
The Cat in the Hat Knows a Lot About That!  (IMDB rating: 6.5)</br>
Shine Your Eyes  (IMDB rating: 6.4)</br>
Black Snow  (IMDB rating: 6.2)</br>
Fiza  (IMDB rating: 6.1)</br>
Vettai  (IMDB rating: 6.0)</br>
Fred Claus  (IMDB rating: 5.6)</br>
Mubarakan  (IMDB rating: 5.5)</br>
Malevolent  (IMDB rating: 4.8)</br>
Undercover Brother 2  (IMDB rating: 3.4)</br>
</br></br><a href=index.html>start over</a>