 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Dave Chappelle: Sticks & Stones  (IMDB rating: 8.5)</br>
Bo Burnham: Make Happy  (IMDB rating: 8.4)</br>
Hasan Minhaj: Homecoming King  (IMDB rating: 8.3)</br>
Dave Chappelle: Equanimity  (IMDB rating: 8.2)</br>
Neal Brennan: 3 Mics  (IMDB rating: 7.9)</br>
Rhys Nicholson: Live at the Athenaeum  (IMDB rating: 7.6)</br>
Jeff Dunham: Jeff Dunham's Very Special Christmas Special  (IMDB rating: 7.5)</br>
Jim Jefferies: This Is Me Now  (IMDB rating: 7.4)</br>
Bert Kreischer: Secret Time  (IMDB rating: 7.4)</br>
Ronny Chieng: Asian Comedian Destroys America!  (IMDB rating: 7.4)</br>
Norm Macdonald: Hitler's Dog, Gossip & Trickery  (IMDB rating: 7.3)</br>
Sofía Niño de Rivera: Exposed  (IMDB rating: 7.3)</br>
Trevor Noah: Son of Patricia  (IMDB rating: 7.3)</br>
Wanda Sykes: Not Normal  (IMDB rating: 7.2)</br>
Michelle Wolf: Joke Show  (IMDB rating: 7.2)</br>
Vir Das: Losing It  (IMDB rating: 7.1)</br>
Kathleen Madigan: Bothering Jesus  (IMDB rating: 7.0)</br>
Anthony Jeselnik: Fire in the Maternity Ward  (IMDB rating: 7.0)</br>
Dr Jason Leong: Hashtag Blessed  (IMDB rating: 7.0)</br>
Patton Oswalt: Talking for Clapping  (IMDB rating: 6.8)</br>
</br></br><a href=index.html>start over</a>