 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0.html>
living</br>
power</br>
adventure</br>
mission</br>
drama</br>
journey</br>
women</br>
history</br>
friend</br>
secret</br>
american</br>
documentary</br>
</a></div>
<div class="column"><a href=0_0_0_1.html>
drama</br>
friend</br>
friendship</br>
female</br>
women</br>
expert</br>
rescue</br>
college</br>
fight</br>
elite</br>
discover</br>
group</br>
</a></div>
<div class="column"><a href=0_0_0_2.html>
making</br>
simple</br>
village</br>
single</br>
husband</br>
movie</br>
unique</br>
search</br>
history</br>
journey</br>
different</br>
people</br>
</a></div>
<div class="column"><a href=0_0_0_3.html>
group</br>
space</br>
return</br>
universe</br>
struggle</br>
battle</br>
survive</br>
human</br>
alien</br>
humanity</br>
planet</br>
earth</br>
</a></div>
<div class="column"><a href=0_0_0_4.html>
survival</br>
create</br>
right</br>
dance</br>
street</br>
magic</br>
compete</br>
enter</br>
magical</br>
fight</br>
battle</br>
competition</br>
</a></div>
</div></br>
Top picks:</br>
Our Planet  (IMDB rating: 9.3)</br>
Leah Remini: Scientology and the Aftermath  (IMDB rating: 9.1)</br>
Ramayan  (IMDB rating: 9.1)</br>
C/o Kancharapalem  (IMDB rating: 9.0)</br>
The Twilight Zone  (IMDB rating: 9.0)</br>
Raja Rasoi Aur Anya Kahaniyan  (IMDB rating: 9.0)</br>
Bye Bye London  (IMDB rating: 9.0)</br>
Numberblocks  (IMDB rating: 8.9)</br>
When They See Us  (IMDB rating: 8.9)</br>
Rubaru Roshni  (IMDB rating: 8.9)</br>
Dark  (IMDB rating: 8.8)</br>
Car Masters: Rust to Riches  (IMDB rating: 8.8)</br>
Narcos  (IMDB rating: 8.8)</br>
Twin Peaks  (IMDB rating: 8.8)</br>
One-Punch Man  (IMDB rating: 8.8)</br>
Stories by Rabindranath Tagore  (IMDB rating: 8.8)</br>
Inception  (IMDB rating: 8.8)</br>
BoJack Horseman  (IMDB rating: 8.7)</br>
Hospital Playlist  (IMDB rating: 8.7)</br>
A Lion in the House  (IMDB rating: 8.7)</br>
</br></br><a href=index.html>start over</a>