 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Bye Bye London  (IMDB rating: 9.0)</br>
Toast of London  (IMDB rating: 8.2)</br>
Black Butler  (IMDB rating: 7.8)</br>
The Frankenstein Chronicles  (IMDB rating: 7.3)</br>
Beauties of the Night  (IMDB rating: 7.2)</br>
My Week with Marilyn  (IMDB rating: 6.9)</br>
Hook  (IMDB rating: 6.8)</br>
Dracula  (IMDB rating: 6.8)</br>
Insatiable  (IMDB rating: 6.5)</br>
Interior Design Masters  (IMDB rating: 6.5)</br>
Ishq Vishk  (IMDB rating: 6.0)</br>
Once Upon a Time in London  (IMDB rating: 5.9)</br>
Skin Decision: Before and After  (IMDB rating: 5.8)</br>
The Darkest Dawn  (IMDB rating: 4.0)</br>
Little Singham in London  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>