 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Sherlock  (IMDB rating: 9.1)</br>
The Dark Knight  (IMDB rating: 9.0)</br>
Mindhunter  (IMDB rating: 8.6)</br>
Making a Murderer  (IMDB rating: 8.6)</br>
Top Boy  (IMDB rating: 8.4)</br>
Andhadhun  (IMDB rating: 8.3)</br>
Shot in the Dark  (IMDB rating: 8.3)</br>
Children of Adam  (IMDB rating: 8.2)</br>
Intelligence  (IMDB rating: 8.2)</br>
Orange Is the New Black  (IMDB rating: 8.1)</br>
Manhunt  (IMDB rating: 8.1)</br>
Tayee  (IMDB rating: 8.0)</br>
The Good Bandit  (IMDB rating: 7.9)</br>
Suburra: Blood on Rome  (IMDB rating: 7.9)</br>
Bonnie and Clyde  (IMDB rating: 7.8)</br>
Enter the Dragon  (IMDB rating: 7.7)</br>
NCIS  (IMDB rating: 7.7)</br>
Oye Lucky! Lucky Oye!  (IMDB rating: 7.7)</br>
Criminal: UK  (IMDB rating: 7.6)</br>
Delhi Belly  (IMDB rating: 7.6)</br>
</br></br><a href=index.html>start over</a>