 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Kath & Kim  (IMDB rating: 8.3)</br>
El marginal  (IMDB rating: 8.2)</br>
Good Witch  (IMDB rating: 7.3)</br>
The Eddy  (IMDB rating: 7.2)</br>
18 Presents  (IMDB rating: 6.7)</br>
Away  (IMDB rating: 6.6)</br>
No te puedes esconder  (IMDB rating: 6.5)</br>
Peppermint  (IMDB rating: 6.5)</br>
No Other Woman  (IMDB rating: 6.3)</br>
3 Days to Kill  (IMDB rating: 6.2)</br>
What a Girl Wants  (IMDB rating: 5.8)</br>
Earth and Blood  (IMDB rating: 4.9)</br>
The Saint  (IMDB rating: 4.9)</br>
Secret Obsession  (IMDB rating: 4.4)</br>
Family Blood  (IMDB rating: 4.2)</br>
</br></br><a href=index.html>start over</a>