 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_1_0_0_0.html>
great</br>
including</br>
successful</br>
enter</br>
partner</br>
sinister</br>
women</br>
india</br>
decide</br>
husband</br>
friendship</br>
marriage</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_0_0_1.html>
attempt</br>
realize</br>
hotel</br>
queen</br>
animal</br>
force</br>
meeting</br>
santa</br>
romance</br>
create</br>
spirit</br>
holiday</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_0_0_3.html>
wealthy</br>
caught</br>
country</br>
better</br>
little</br>
sarah</br>
house</br>
entire</br>
spain</br>
mystery</br>
missing</br>
child</br>
</a></div>
</div></br>
Top picks:</br>
Dark  (IMDB rating: 8.8)</br>
Star Trek: The Next Generation  (IMDB rating: 8.6)</br>
K. D.  (IMDB rating: 8.6)</br>
Chicago Typewriter  (IMDB rating: 8.3)</br>
Queer Eye: We're in Japan!  (IMDB rating: 8.2)</br>
Pretend It's a City  (IMDB rating: 8.2)</br>
The Trailer Park Boys Xmas Special  (IMDB rating: 8.0)</br>
Examination of Conscience  (IMDB rating: 8.0)</br>
John Mulaney: The Comeback Kid  (IMDB rating: 8.0)</br>
Dash & Lily  (IMDB rating: 8.0)</br>
The OA  (IMDB rating: 7.9)</br>
Taj Mahal 1989  (IMDB rating: 7.5)</br>
Black Earth Rising  (IMDB rating: 7.5)</br>
Socha Na Tha  (IMDB rating: 7.4)</br>
Kalel, 15  (IMDB rating: 7.3)</br>
Chelsea Does  (IMDB rating: 7.3)</br>
Love per Square Foot  (IMDB rating: 7.2)</br>
I Am Maris: Portrait of a Young Yogi  (IMDB rating: 7.1)</br>
We Are the Champions  (IMDB rating: 7.1)</br>
When Hari Got Married  (IMDB rating: 7.0)</br>
</br></br><a href=index.html>start over</a>