 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Merku Thodarchi Malai  (IMDB rating: 8.6)</br>
The Kominsky Method  (IMDB rating: 8.2)</br>
Bleach  (IMDB rating: 8.1)</br>
Put Your Head on My Shoulder  (IMDB rating: 8.0)</br>
Teasing Master Takagi-san  (IMDB rating: 7.6)</br>
Blood of Zeus  (IMDB rating: 7.6)</br>
Tomorrow with You  (IMDB rating: 7.5)</br>
Terrace House: Tokyo 2019-2020  (IMDB rating: 7.5)</br>
1000 Mabrouk  (IMDB rating: 7.5)</br>
Shooter  (IMDB rating: 7.5)</br>
Transfers  (IMDB rating: 7.3)</br>
Luck by Chance  (IMDB rating: 7.1)</br>
Ram Dass, Going Home  (IMDB rating: 7.0)</br>
Phir Hera Pheri  (IMDB rating: 6.9)</br>
All Dogs Go to Heaven  (IMDB rating: 6.8)</br>
MFKZ  (IMDB rating: 6.7)</br>
Pihu  (IMDB rating: 6.7)</br>
Daybreak  (IMDB rating: 6.7)</br>
Nappily Ever After  (IMDB rating: 6.4)</br>
Waterschool  (IMDB rating: 6.2)</br>
</br></br><a href=index.html>start over</a>