 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Hospital Playlist  (IMDB rating: 8.7)</br>
Chef's Table  (IMDB rating: 8.6)</br>
Chef & My Fridge  (IMDB rating: 8.5)</br>
Abstract: The Art of Design  (IMDB rating: 8.4)</br>
The Midnight Gospel  (IMDB rating: 8.3)</br>
Dorohedoro  (IMDB rating: 8.2)</br>
The Mind, Explained  (IMDB rating: 8.0)</br>
Bleach the Movie: Fade to Black  (IMDB rating: 7.3)</br>
La Ley secreta  (IMDB rating: 7.3)</br>
Grizzy & the Lemmings  (IMDB rating: 6.9)</br>
Minimalism: A Documentary About the Important Things  (IMDB rating: 6.7)</br>
Amrapali  (IMDB rating: 6.7)</br>
The B-Side: Elsa Dorfman's Portrait Photography  (IMDB rating: 6.7)</br>
La Línea: Shadow of Narco  (IMDB rating: 6.4)</br>
17 Again  (IMDB rating: 6.4)</br>
Svaha: The Sixth Finger  (IMDB rating: 6.3)</br>
#Alive  (IMDB rating: 6.2)</br>
Darc  (IMDB rating: 5.8)</br>
A Christmas Prince  (IMDB rating: 5.8)</br>
Persona  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>