 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0.html>
struggle</br>
working</br>
forced</br>
movie</br>
india</br>
company</br>
money</br>
future</br>
small</br>
women</br>
living</br>
power</br>
</a></div>
<div class="column"><a href=0_0_0_0_1.html>
holiday</br>
child</br>
children</br>
female</br>
adventure</br>
married</br>
different</br>
couple</br>
comic</br>
marriage</br>
journey</br>
drama</br>
</a></div>
<div class="column"><a href=0_0_0_0_2.html>
biggest</br>
action</br>
explore</br>
season</br>
country</br>
aired</br>
bring</br>
network</br>
united</br>
television</br>
history</br>
american</br>
</a></div>
<div class="column"><a href=0_0_0_0_3.html>
wedding</br>
space</br>
agent</br>
control</br>
rescue</br>
adventure</br>
friendship</br>
husband</br>
childhood</br>
mission</br>
secret</br>
friend</br>
</a></div>
<div class="column"><a href=0_0_0_0_4.html>
short</br>
social</br>
women</br>
building</br>
white</br>
intimate</br>
political</br>
career</br>
american</br>
footage</br>
history</br>
documentary</br>
</a></div>
</div></br>
Top picks:</br>
Our Planet  (IMDB rating: 9.3)</br>
Leah Remini: Scientology and the Aftermath  (IMDB rating: 9.1)</br>
Ramayan  (IMDB rating: 9.1)</br>
C/o Kancharapalem  (IMDB rating: 9.0)</br>
The Twilight Zone  (IMDB rating: 9.0)</br>
Bye Bye London  (IMDB rating: 9.0)</br>
Raja Rasoi Aur Anya Kahaniyan  (IMDB rating: 9.0)</br>
Rubaru Roshni  (IMDB rating: 8.9)</br>
When They See Us  (IMDB rating: 8.9)</br>
Car Masters: Rust to Riches  (IMDB rating: 8.8)</br>
Dark  (IMDB rating: 8.8)</br>
Narcos  (IMDB rating: 8.8)</br>
Twin Peaks  (IMDB rating: 8.8)</br>
Stories by Rabindranath Tagore  (IMDB rating: 8.8)</br>
Inception  (IMDB rating: 8.8)</br>
One-Punch Man  (IMDB rating: 8.8)</br>
Moving Art  (IMDB rating: 8.7)</br>
Fate of Alakada  (IMDB rating: 8.7)</br>
Hospital Playlist  (IMDB rating: 8.7)</br>
The Rise of Phoenixes  (IMDB rating: 8.7)</br>
</br></br><a href=index.html>start over</a>