 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Go Dog Go  (IMDB rating: 8.5)</br>
Go! Go! Cory Carson  (IMDB rating: 8.3)</br>
Dragons: Race to the Edge  (IMDB rating: 8.3)</br>
Zindagi Na Milegi Dobara  (IMDB rating: 8.2)</br>
Cycle  (IMDB rating: 8.1)</br>
LeapFrog: The Letter Factory  (IMDB rating: 8.0)</br>
Archibald's Next Big Thing  (IMDB rating: 7.9)</br>
Taco Chronicles  (IMDB rating: 7.8)</br>
Jurassic World: Camp Cretaceous  (IMDB rating: 7.4)</br>
Pek Yakında  (IMDB rating: 7.4)</br>
Ainori Love Wagon: African Journey  (IMDB rating: 7.4)</br>
The Baby-Sitters Club  (IMDB rating: 7.4)</br>
Carmen Sandiego: To Steal or Not to Steal  (IMDB rating: 7.0)</br>
Sunny Bunnies  (IMDB rating: 7.0)</br>
Mighty Little Bheem  (IMDB rating: 6.5)</br>
The Search for Life in Space  (IMDB rating: 6.4)</br>
Thor: Tales of Asgard  (IMDB rating: 6.3)</br>
Finding 'Ohana  (IMDB rating: 6.1)</br>
The Indian in the Cupboard  (IMDB rating: 6.0)</br>
The Christmas Chronicles: Part Two  (IMDB rating: 6.0)</br>
</br></br><a href=index.html>start over</a>