 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Katt Williams: The Pimp Chronicles Pt. 1  (IMDB rating: 7.7)</br>
Nate Bargatze: The Tennessee Kid  (IMDB rating: 7.6)</br>
Ali Wong: Baby Cobra  (IMDB rating: 7.5)</br>
Zach Galifianakis: Live at the Purple Onion  (IMDB rating: 7.3)</br>
Ray Romano: Right Here, Around the Corner  (IMDB rating: 7.2)</br>
Katt Williams: American Hustle  (IMDB rating: 6.7)</br>
Coco y Raulito: Carrusel de ternura  (IMDB rating: 6.6)</br>
COMEDIANS of the world  (IMDB rating: 6.5)</br>
The Degenerates  (IMDB rating: 6.2)</br>
The Comedy Lineup  (IMDB rating: 5.8)</br>
Gangs of Haseepur  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>