 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Inception  (IMDB rating: 8.8)</br>
3%  (IMDB rating: 7.4)</br>
Aruna & Her Palate  (IMDB rating: 7.3)</br>
Blown Away  (IMDB rating: 7.1)</br>
Once Again  (IMDB rating: 7.0)</br>
The Big Family Cooking Showdown  (IMDB rating: 7.0)</br>
Paheli  (IMDB rating: 6.5)</br>
Back with the Ex  (IMDB rating: 6.3)</br>
Twice Upon a Time  (IMDB rating: 6.3)</br>
Momo Salon  (IMDB rating: 6.2)</br>
Take Me  (IMDB rating: 6.1)</br>
Bucket List  (IMDB rating: 6.1)</br>
Awake: The Million Dollar Game  (IMDB rating: 6.0)</br>
Emogenius  (IMDB rating: 4.1)</br>
Total Drama Action  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>