 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_3_3_3.html>
supernatural</br>
really</br>
taking</br>
wanted</br>
children</br>
officer</br>
wrong</br>
party</br>
investigate</br>
memory</br>
handsome</br>
detective</br>
</a></div>
</div></br>
Top picks:</br>
Signal  (IMDB rating: 8.6)</br>
Stranger  (IMDB rating: 8.6)</br>
Case Closed  (IMDB rating: 8.4)</br>
Tunnel  (IMDB rating: 8.3)</br>
Unsolved: The Murders of Tupac and The Notorious B.I.G.  (IMDB rating: 7.9)</br>
iZombie  (IMDB rating: 7.8)</br>
The Five  (IMDB rating: 7.7)</br>
Training Day  (IMDB rating: 7.7)</br>
100 Days My Prince  (IMDB rating: 7.6)</br>
Battle Creek  (IMDB rating: 7.3)</br>
Against the Tide  (IMDB rating: 7.3)</br>
OCTB  (IMDB rating: 7.1)</br>
The Interview  (IMDB rating: 7.1)</br>
Beauty and the Beast  (IMDB rating: 7.0)</br>
Noddy, Toyland Detective  (IMDB rating: 6.9)</br>
Legend  (IMDB rating: 6.9)</br>
Possessed  (IMDB rating: 6.9)</br>
Collateral  (IMDB rating: 6.8)</br>
Inspector Gadget  (IMDB rating: 6.8)</br>
Race  (IMDB rating: 6.7)</br>
</br></br><a href=index.html>start over</a>