 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
La Grande Chaumière Violette  (IMDB rating: 8.9)</br>
Hunter x Hunter  (IMDB rating: 8.9)</br>
Super Deluxe  (IMDB rating: 8.3)</br>
Food Wars! Shokugeki no Soma  (IMDB rating: 8.2)</br>
Rain Man  (IMDB rating: 8.0)</br>
Memory Love  (IMDB rating: 7.9)</br>
Seven Sundays  (IMDB rating: 7.8)</br>
Jack Whitehall: Travels with My Father  (IMDB rating: 7.7)</br>
Hey Arnold! The Jungle Movie  (IMDB rating: 7.6)</br>
Do Dooni Chaar  (IMDB rating: 7.6)</br>
Hugo  (IMDB rating: 7.5)</br>
Locke & Key  (IMDB rating: 7.4)</br>
Blue Exorcist  (IMDB rating: 7.4)</br>
Kabhi Khushi Kabhie Gham  (IMDB rating: 7.4)</br>
Palm Trees in the Snow  (IMDB rating: 7.4)</br>
Selection Day  (IMDB rating: 7.4)</br>
Inuyasha the Movie: Affections Touching Across Time  (IMDB rating: 7.3)</br>
Republic of Doyle  (IMDB rating: 7.3)</br>
Retablo  (IMDB rating: 7.3)</br>
Sour Apples  (IMDB rating: 7.2)</br>
</br></br><a href=index.html>start over</a>