 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
James Acaster: Repertoire  (IMDB rating: 8.5)</br>
Todo lo que sería Lucas Lauriente  (IMDB rating: 7.8)</br>
Katherine Ryan: In Trouble  (IMDB rating: 7.0)</br>
Todd Barry: Spicy Honey  (IMDB rating: 6.8)</br>
Simon Amstell: Set Free  (IMDB rating: 6.4)</br>
Joe Mande's Award-Winning Comedy Special  (IMDB rating: 6.1)</br>
Simplemente Manu NNa  (IMDB rating: 5.2)</br>
Aditi Mittal: Things They Wouldn't Let Me Say  (IMDB rating: 4.4)</br>
Fakkah Fuzz: Almost Banned  (IMDB rating: 4.1)</br>
Bhaag Beanie Bhaag  (IMDB rating: 4.1)</br>
Amy Schumer: The Leather Special  (IMDB rating: 2.9)</br>
</br></br><a href=index.html>start over</a>