 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0_4_1.html>
seeking</br>
house</br>
discover</br>
change</br>
center</br>
learn</br>
identity</br>
begin</br>
international</br>
death</br>
investigation</br>
inside</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_4_2.html>
simple</br>
eccentric</br>
seemingly</br>
supernatural</br>
person</br>
winning</br>
super</br>
discover</br>
extraordinary</br>
spanish</br>
hunter</br>
ordinary</br>
</a></div>
</div></br>
Top picks:</br>
Hospital Playlist  (IMDB rating: 8.7)</br>
Chef's Table  (IMDB rating: 8.6)</br>
Chef & My Fridge  (IMDB rating: 8.5)</br>
Abstract: The Art of Design  (IMDB rating: 8.4)</br>
The Midnight Gospel  (IMDB rating: 8.3)</br>
The Disastrous Life of Saiki K.  (IMDB rating: 8.3)</br>
The Good Place  (IMDB rating: 8.2)</br>
Dorohedoro  (IMDB rating: 8.2)</br>
Beyond All Boundaries  (IMDB rating: 8.0)</br>
The Mind, Explained  (IMDB rating: 8.0)</br>
Marvel's Agents of S.H.I.E.L.D.  (IMDB rating: 7.5)</br>
La Ley secreta  (IMDB rating: 7.3)</br>
Bleach the Movie: Fade to Black  (IMDB rating: 7.3)</br>
Abyss  (IMDB rating: 7.1)</br>
Babies  (IMDB rating: 7.0)</br>
Hunterrr  (IMDB rating: 7.0)</br>
Grizzy & the Lemmings  (IMDB rating: 6.9)</br>
Minimalism: A Documentary About the Important Things  (IMDB rating: 6.7)</br>
Amazing Interiors  (IMDB rating: 6.7)</br>
The B-Side: Elsa Dorfman's Portrait Photography  (IMDB rating: 6.7)</br>
</br></br><a href=index.html>start over</a>