 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
A Beautiful Life  (IMDB rating: 6.7)</br>
Bride for Rent  (IMDB rating: 6.4)</br>
Haraamkhor  (IMDB rating: 6.4)</br>
Selfie 69  (IMDB rating: 6.2)</br>
He Even Has Your Eyes  (IMDB rating: 6.2)</br>
David Batra: Elephant in The Room  (IMDB rating: 5.9)</br>
Ek Main Aur Ekk Tu  (IMDB rating: 5.7)</br>
Sex and the City  (IMDB rating: 5.6)</br>
My Step Dad: The Hippie  (IMDB rating: 5.2)</br>
Cappuccino  (IMDB rating: 3.7)</br>
Jai Mummy Di  (IMDB rating: 3.6)</br>
</br></br><a href=index.html>start over</a>