 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Undercover  (IMDB rating: 7.9)</br>
Sofía Niño de Rivera: Natural Selection  (IMDB rating: 6.8)</br>
Dostana  (IMDB rating: 6.5)</br>
Anchor Baby  (IMDB rating: 6.3)</br>
The Innocents  (IMDB rating: 6.3)</br>
Rugrats in Paris: The Movie  (IMDB rating: 6.1)</br>
Light in the Dark  (IMDB rating: 6.0)</br>
Red Dot  (IMDB rating: 5.5)</br>
The Doll 2  (IMDB rating: 5.3)</br>
The Maus  (IMDB rating: 4.7)</br>
Death of Me  (IMDB rating: 4.4)</br>
Potato Potahto  (IMDB rating: 4.2)</br>
The Con Is On  (IMDB rating: 4.0)</br>
Pink  (IMDB rating: 1.6)</br>
</br></br><a href=index.html>start over</a>