 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_1_0.html>
india</br>
growing</br>
night</br>
mexico</br>
dating</br>
french</br>
audience</br>
known</br>
music</br>
comic</br>
comedian</br>
stand</br>
</a></div>
<div class="column"><a href=0_0_1_1.html>
intimate</br>
netflix</br>
filmed</br>
comic</br>
humor</br>
getting</br>
stage</br>
culture</br>
comedian</br>
special</br>
stand</br>
stand special</br>
</a></div>
<div class="column"><a href=0_0_1_2.html>
inside</br>
event</br>
america</br>
stage</br>
comic</br>
comedian</br>
original</br>
netflix</br>
stand</br>
comedy special</br>
comedy</br>
special</br>
</a></div>
<div class="column"><a href=0_0_1_3.html>
global</br>
getting</br>
unique</br>
culture</br>
filmed</br>
humor</br>
funny</br>
scene</br>
comedian</br>
stage</br>
stand</br>
comedy</br>
</a></div>
<div class="column"><a href=0_0_1_4.html>
comedy</br>
dating</br>
humor</br>
online</br>
actor</br>
hollywood</br>
career</br>
personal</br>
special</br>
celebrity</br>
stage</br>
comedian</br>
</a></div>
</div></br>
Top picks:</br>
Monty Python's Flying Circus  (IMDB rating: 8.8)</br>
Still Game  (IMDB rating: 8.8)</br>
Chappelle's Show  (IMDB rating: 8.8)</br>
Norm Macdonald Has a Show  (IMDB rating: 8.7)</br>
Middleditch & Schwartz  (IMDB rating: 8.7)</br>
Daniel Sloss: Live Shows  (IMDB rating: 8.6)</br>
Dave Chappelle: Sticks & Stones  (IMDB rating: 8.5)</br>
James Acaster: Repertoire  (IMDB rating: 8.5)</br>
Bo Burnham: What.  (IMDB rating: 8.5)</br>
Bo Burnham: Make Happy  (IMDB rating: 8.4)</br>
Hannah Gadsby: Nanette  (IMDB rating: 8.3)</br>
John Mulaney: New in Town  (IMDB rating: 8.3)</br>
Hasan Minhaj: Homecoming King  (IMDB rating: 8.3)</br>
Patriot Act with Hasan Minhaj  (IMDB rating: 8.3)</br>
Dave Chappelle: Equanimity  (IMDB rating: 8.2)</br>
Swades  (IMDB rating: 8.2)</br>
Bill Burr: Paper Tiger  (IMDB rating: 8.2)</br>
Comedians in Cars Getting Coffee  (IMDB rating: 8.1)</br>
Adam Ruins Everything  (IMDB rating: 8.0)</br>
John Mulaney: Kid Gorgeous at Radio City  (IMDB rating: 8.0)</br>
</br></br><a href=index.html>start over</a>