 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Departed  (IMDB rating: 8.5)</br>
Live  (IMDB rating: 8.4)</br>
Money Heist  (IMDB rating: 8.3)</br>
Ripper Street  (IMDB rating: 8.1)</br>
Silver Spoon  (IMDB rating: 7.8)</br>
Let It Fall: Los Angeles 1982-1992  (IMDB rating: 7.8)</br>
The Good Cop  (IMDB rating: 7.7)</br>
The Mantis  (IMDB rating: 7.4)</br>
From One Second to the Next  (IMDB rating: 7.4)</br>
Vexed  (IMDB rating: 7.3)</br>
Dope  (IMDB rating: 7.3)</br>
Teefa in Trouble  (IMDB rating: 7.2)</br>
The Death of Stalin  (IMDB rating: 7.2)</br>
Criminal: France  (IMDB rating: 7.2)</br>
Shaitan  (IMDB rating: 7.2)</br>
Saudi Arabia Uncovered  (IMDB rating: 7.1)</br>
Anjaan: Special Crimes Unit  (IMDB rating: 7.1)</br>
The Young Offenders  (IMDB rating: 7.1)</br>
Unit 42  (IMDB rating: 7.0)</br>
Victim Number 8  (IMDB rating: 7.0)</br>
</br></br><a href=index.html>start over</a>