 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Your Lie in April  (IMDB rating: 8.6)</br>
The Three Deaths of Marisela Escobedo  (IMDB rating: 8.3)</br>
Bates Motel  (IMDB rating: 8.2)</br>
Gilmore Girls  (IMDB rating: 8.1)</br>
Roma  (IMDB rating: 7.7)</br>
The Letdown  (IMDB rating: 7.5)</br>
Mother Goose Club  (IMDB rating: 7.4)</br>
20th Century Women  (IMDB rating: 7.3)</br>
37 Seconds  (IMDB rating: 7.3)</br>
The Conjuring 2  (IMDB rating: 7.3)</br>
The Dearest Lady  (IMDB rating: 7.2)</br>
Ma Rainey's Black Bottom  (IMDB rating: 7.1)</br>
Dukhtar  (IMDB rating: 7.0)</br>
And Breathe Normally  (IMDB rating: 6.9)</br>
Fuller House  (IMDB rating: 6.8)</br>
Other People  (IMDB rating: 6.8)</br>
The Order  (IMDB rating: 6.8)</br>
The Lighthouse of the Orcas  (IMDB rating: 6.8)</br>
I Am Mother  (IMDB rating: 6.7)</br>
Mother  (IMDB rating: 6.7)</br>
</br></br><a href=index.html>start over</a>