 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Raja Rasoi Aur Anya Kahaniyan  (IMDB rating: 9.0)</br>
The Universe  (IMDB rating: 8.7)</br>
American Crime Story  (IMDB rating: 8.4)</br>
13th  (IMDB rating: 8.3)</br>
The Toys That Made Us  (IMDB rating: 8.1)</br>
Uppity: The Willy T. Ribbs Story  (IMDB rating: 8.0)</br>
Rise of Empires: Ottoman  (IMDB rating: 8.0)</br>
Secrets of Great British Castles  (IMDB rating: 7.8)</br>
Damnation  (IMDB rating: 7.7)</br>
The Social Network  (IMDB rating: 7.7)</br>
BREAK IT ALL: The History of Rock in Latin America  (IMDB rating: 7.7)</br>
Mystery Lab  (IMDB rating: 7.6)</br>
Age of Samurai: Battle for Japan  (IMDB rating: 7.5)</br>
John Leguizamo's Latin History for Morons  (IMDB rating: 7.5)</br>
Sarah's Key  (IMDB rating: 7.5)</br>
Dark Matter  (IMDB rating: 7.5)</br>
High Score  (IMDB rating: 7.4)</br>
Shelby American  (IMDB rating: 7.3)</br>
City of Ghosts  (IMDB rating: 7.2)</br>
The Edge of Democracy  (IMDB rating: 7.2)</br>
</br></br><a href=index.html>start over</a>