 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Blackfish  (IMDB rating: 8.1)</br>
Voice  (IMDB rating: 7.7)</br>
Murder Maps  (IMDB rating: 7.5)</br>
Killer Inside: The Mind of Aaron Hernandez  (IMDB rating: 7.4)</br>
B: The Beginning  (IMDB rating: 7.2)</br>
Valhalla Murders  (IMDB rating: 7.1)</br>
The Ripper  (IMDB rating: 7.1)</br>
Nibunan  (IMDB rating: 6.6)</br>
Avengement  (IMDB rating: 6.5)</br>
Somewhere Between  (IMDB rating: 6.2)</br>
In the Shadow of the Moon  (IMDB rating: 6.2)</br>
Unknown Origins  (IMDB rating: 6.1)</br>
Interview with a Serial Killer  (IMDB rating: 5.9)</br>
The Plagues of Breslau  (IMDB rating: 5.8)</br>
Khoon Khoon  (IMDB rating: 5.4)</br>
I Am Wrath  (IMDB rating: 5.4)</br>
Qila  (IMDB rating: 5.1)</br>
Domino  (IMDB rating: 4.4)</br>
Reaction  (IMDB rating: 4.3)</br>
Serial Killer with Piers Morgan  (IMDB rating: 3.8)</br>
</br></br><a href=index.html>start over</a>