 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_1_0_0.html>
follow</br>
friendship</br>
husband</br>
romance</br>
decide</br>
missing</br>
women</br>
explore</br>
writer</br>
child</br>
holiday</br>
marriage</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_0_1.html>
embark</br>
explore</br>
order</br>
action</br>
happy</br>
survive</br>
journey</br>
little</br>
indian</br>
popular</br>
helping</br>
adventure</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_0_2.html>
heart</br>
personal</br>
trying</br>
spain</br>
house</br>
perfect</br>
child</br>
marriage</br>
wedding</br>
getting</br>
married</br>
couple</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_0_3.html>
complex</br>
aspiring</br>
doctor</br>
innocent</br>
follow</br>
personal</br>
local</br>
embark</br>
discovery</br>
discover</br>
cancer</br>
journey</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_0_4.html>
ancient</br>
embark</br>
violence</br>
lawyer</br>
changed</br>
global</br>
growing</br>
fashion</br>
including</br>
college</br>
thriller</br>
female</br>
</a></div>
</div></br>
Top picks:</br>
Dark  (IMDB rating: 8.8)</br>
Star Trek: The Next Generation  (IMDB rating: 8.6)</br>
K. D.  (IMDB rating: 8.6)</br>
Go Dog Go  (IMDB rating: 8.5)</br>
The IT Crowd  (IMDB rating: 8.5)</br>
Unbelievable  (IMDB rating: 8.4)</br>
Dragons: Race to the Edge  (IMDB rating: 8.3)</br>
Go! Go! Cory Carson  (IMDB rating: 8.3)</br>
Chicago Typewriter  (IMDB rating: 8.3)</br>
Cowspiracy: The Sustainability Secret  (IMDB rating: 8.3)</br>
Queer Eye: We're in Japan!  (IMDB rating: 8.2)</br>
Pretend It's a City  (IMDB rating: 8.2)</br>
Zindagi Na Milegi Dobara  (IMDB rating: 8.2)</br>
Cycle  (IMDB rating: 8.1)</br>
PK  (IMDB rating: 8.1)</br>
Yunus Emre: Aşkın Yolculuğu  (IMDB rating: 8.0)</br>
LeapFrog: The Letter Factory  (IMDB rating: 8.0)</br>
The Trailer Park Boys Xmas Special  (IMDB rating: 8.0)</br>
John Mulaney: The Comeback Kid  (IMDB rating: 8.0)</br>
Dash & Lily  (IMDB rating: 8.0)</br>
</br></br><a href=index.html>start over</a>