 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Chappelle's Show  (IMDB rating: 8.8)</br>
Swades  (IMDB rating: 8.2)</br>
The Accountant of Auschwitz  (IMDB rating: 7.3)</br>
Greg Davies: You Magnificent Beast  (IMDB rating: 7.2)</br>
Michael Che Matters  (IMDB rating: 7.2)</br>
Ip Man 3  (IMDB rating: 7.1)</br>
Comedian  (IMDB rating: 6.9)</br>
Joan Rivers: Don't Start with Me  (IMDB rating: 6.6)</br>
Tiffany Haddish Presents: They Ready  (IMDB rating: 6.2)</br>
Tim Allen: Rewires America  (IMDB rating: 5.9)</br>
Standup and Away! with Brian Regan  (IMDB rating: 5.8)</br>
Amy Schumer: Growing  (IMDB rating: 5.2)</br>
The First Line  (IMDB rating: 4.9)</br>
Ladies Up  (IMDB rating: 4.4)</br>
</br></br><a href=index.html>start over</a>