 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_1_4_1.html>
black</br>
media</br>
share</br>
white</br>
sinister</br>
marriage</br>
child</br>
society</br>
journalist</br>
culture</br>
explore</br>
celebrity</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_4_3.html>
suicide</br>
extraordinary</br>
encounter</br>
escape</br>
return</br>
popular</br>
based</br>
haunted</br>
animated</br>
cancer</br>
company</br>
children</br>
</a></div>
</div></br>
Top picks:</br>
Best Wishes, Warmest Regards: A Schitt's Creek Farewell  (IMDB rating: 8.7)</br>
The Ollie & Moon Show  (IMDB rating: 8.4)</br>
A Truthful Mother  (IMDB rating: 8.3)</br>
The Chef Show  (IMDB rating: 8.2)</br>
I Am Kalam  (IMDB rating: 8.0)</br>
Alphablocks  (IMDB rating: 7.8)</br>
Eddie Murphy Raw  (IMDB rating: 7.7)</br>
Weed the People  (IMDB rating: 7.3)</br>
Pajanimals  (IMDB rating: 7.3)</br>
Franco Escamilla: bienvenido al mundo  (IMDB rating: 7.2)</br>
The Killing of a Sacred Deer  (IMDB rating: 7.0)</br>
Breakfast, Lunch & Dinner  (IMDB rating: 6.8)</br>
Chico Bon Bon: Monkey with a Tool Belt  (IMDB rating: 6.8)</br>
Marc Maron: End Times Fun  (IMDB rating: 6.8)</br>
Torbaaz  (IMDB rating: 6.8)</br>
Dil  (IMDB rating: 6.7)</br>
Almost Happy  (IMDB rating: 6.7)</br>
Bird Box  (IMDB rating: 6.6)</br>
Samantha!  (IMDB rating: 6.6)</br>
Ron White: If You Quit Listening, I'll Shut Up  (IMDB rating: 6.5)</br>
</br></br><a href=index.html>start over</a>