 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Green Eggs and Ham  (IMDB rating: 8.2)</br>
Shonar Pahar  (IMDB rating: 8.1)</br>
Durarara!!  (IMDB rating: 7.9)</br>
A Single Man  (IMDB rating: 7.6)</br>
Love for Sale  (IMDB rating: 7.5)</br>
Masha and the Bear  (IMDB rating: 7.5)</br>
Vampire Knight  (IMDB rating: 7.4)</br>
Chef  (IMDB rating: 7.3)</br>
Buddy Thunderstruck: The Maybe Pile  (IMDB rating: 7.2)</br>
Tinker Bell and the Legend of the NeverBeast  (IMDB rating: 7.2)</br>
True and the Rainbow Kingdom  (IMDB rating: 7.2)</br>
Odu Raja Odu  (IMDB rating: 7.0)</br>
ParaNorman  (IMDB rating: 7.0)</br>
Cannon Busters  (IMDB rating: 6.8)</br>
Dabbe: Cin Çarpması  (IMDB rating: 6.8)</br>
Zig and Sharko  (IMDB rating: 6.8)</br>
El Sendero de la Anaconda  (IMDB rating: 6.8)</br>
Our Lovers  (IMDB rating: 6.7)</br>
Robocar Poli  (IMDB rating: 6.6)</br>
Octonauts and the Caves of Sac Actun  (IMDB rating: 6.6)</br>
</br></br><a href=index.html>start over</a>