 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Saint Seiya  (IMDB rating: 8.5)</br>
Itaewon Class  (IMDB rating: 8.2)</br>
Monty Python and the Holy Grail  (IMDB rating: 8.2)</br>
Attacking the Devil: Harold Evans and the Last Nazi War Crime  (IMDB rating: 8.0)</br>
Ip Man  (IMDB rating: 8.0)</br>
She-Ra and the Princesses of Power  (IMDB rating: 7.8)</br>
The Big Flower Fight  (IMDB rating: 7.5)</br>
Prosecuting Evil: The Extraordinary World of Ben Ferencz  (IMDB rating: 7.5)</br>
Jailbirds  (IMDB rating: 7.1)</br>
The Heaven None Missed 2  (IMDB rating: 7.1)</br>
Game Over  (IMDB rating: 7.1)</br>
The Platform  (IMDB rating: 7.0)</br>
Tribes of Europa  (IMDB rating: 6.8)</br>
Nang Nak  (IMDB rating: 6.5)</br>
Two Catalonias  (IMDB rating: 6.5)</br>
Black Sea  (IMDB rating: 6.4)</br>
The Angry Birds Movie 2  (IMDB rating: 6.4)</br>
Dragon Tiger Gate  (IMDB rating: 6.2)</br>
Below Zero  (IMDB rating: 6.2)</br>
revisions  (IMDB rating: 6.1)</br>
</br></br><a href=index.html>start over</a>