 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Ashes of Love  (IMDB rating: 8.4)</br>
Taxi Driver  (IMDB rating: 8.2)</br>
Girls Hostel  (IMDB rating: 8.2)</br>
Pink  (IMDB rating: 8.1)</br>
Conan  (IMDB rating: 8.1)</br>
Monty Python Live (Mostly)  (IMDB rating: 7.7)</br>
Dead Set  (IMDB rating: 7.6)</br>
The Perfect Match  (IMDB rating: 7.6)</br>
Seth Meyers: Lobby Baby  (IMDB rating: 7.5)</br>
Bangkok Traffic Love Story  (IMDB rating: 7.2)</br>
Bhasmasur  (IMDB rating: 6.9)</br>
One Last Shot  (IMDB rating: 6.8)</br>
Tony Manero  (IMDB rating: 6.8)</br>
Angels & Demons  (IMDB rating: 6.7)</br>
Hannibal Buress: Comedy Camisado  (IMDB rating: 6.6)</br>
Crazy About Her  (IMDB rating: 6.6)</br>
Naan Sigappu Manithan  (IMDB rating: 6.5)</br>
The Watchman  (IMDB rating: 6.4)</br>
When We First Met  (IMDB rating: 6.4)</br>
Cristela Alonzo: Lower Classy  (IMDB rating: 6.4)</br>
</br></br><a href=index.html>start over</a>