 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Ricky Gervais: Humanity  (IMDB rating: 8.0)</br>
Hannah Gadsby: Douglas  (IMDB rating: 7.9)</br>
Nailed It! Holiday!  (IMDB rating: 7.8)</br>
Bumping Mics with Jeff Ross & Dave Attell  (IMDB rating: 7.7)</br>
Meet the Drug Lords: Inside the Real Narcos  (IMDB rating: 7.6)</br>
Demetri Martin: Live (At The Time)  (IMDB rating: 7.4)</br>
The Night Shift  (IMDB rating: 7.4)</br>
Marc Maron: Thinky Pain  (IMDB rating: 7.4)</br>
Man to Man  (IMDB rating: 7.4)</br>
BNA  (IMDB rating: 7.3)</br>
Jimmy Carr: The Best of Ultimate Gold Greatest Hits  (IMDB rating: 7.3)</br>
Octonauts & the Great Barrier Reef  (IMDB rating: 7.2)</br>
Thiago Ventura: POKAS  (IMDB rating: 6.8)</br>
Larry The Cable Guy: Remain Seated  (IMDB rating: 6.7)</br>
Ellen DeGeneres: Relatable  (IMDB rating: 6.5)</br>
Captain Underpants: Epic Choice-o-rama  (IMDB rating: 6.4)</br>
Wyatt Cenac: Brooklyn  (IMDB rating: 6.3)</br>
Tiffany Haddish: Black Mitzvah  (IMDB rating: 6.2)</br>
Between Maybes  (IMDB rating: 6.2)</br>
Leal  (IMDB rating: 6.0)</br>
</br></br><a href=index.html>start over</a>