 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
ARASHI's Diary -Voyage-  (IMDB rating: 7.9)</br>
How to Train Your Dragon 2  (IMDB rating: 7.8)</br>
One Day  (IMDB rating: 7.7)</br>
Sarvam Thaala Mayam  (IMDB rating: 7.6)</br>
Qlimax - The Source  (IMDB rating: 7.6)</br>
Is It Wrong to Try to Pick Up Girls in a Dungeon?  (IMDB rating: 7.4)</br>
Bleach the Movie: Hell Verse  (IMDB rating: 7.4)</br>
The Code  (IMDB rating: 7.4)</br>
Code Lyoko  (IMDB rating: 7.3)</br>
Patton Oswalt: Annihilation  (IMDB rating: 7.2)</br>
Lucha: Playing the Impossible  (IMDB rating: 7.2)</br>
Merata: How Mum Decolonised the Screen  (IMDB rating: 7.0)</br>
Ronnie Coleman: The King  (IMDB rating: 7.0)</br>
Making the Witcher  (IMDB rating: 6.8)</br>
The New Legends of Monkey  (IMDB rating: 6.5)</br>
Granblue Fantasy: The Animation  (IMDB rating: 6.4)</br>
Cleverman  (IMDB rating: 6.4)</br>
Super Wings!  (IMDB rating: 6.1)</br>
Lady Driver  (IMDB rating: 6.0)</br>
Masameer: The Movie  (IMDB rating: 6.0)</br>
</br></br><a href=index.html>start over</a>