 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0.html>
student</br>
working</br>
local</br>
struggle</br>
learn</br>
inside</br>
money</br>
forced</br>
future</br>
company</br>
small</br>
living</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_1.html>
monster</br>
heart</br>
america</br>
money</br>
place</br>
aspiring</br>
starring</br>
directed</br>
romantic</br>
right</br>
movie</br>
women</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_2.html>
starring</br>
directed</br>
english</br>
comedy</br>
british</br>
season</br>
aired</br>
channel</br>
animated</br>
produced</br>
broadcast</br>
television</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_3.html>
humor</br>
little</br>
award</br>
black</br>
neighborhood</br>
dance</br>
david</br>
unique</br>
america</br>
director</br>
street</br>
culture</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_4.html>
seeking</br>
leader</br>
national</br>
destiny</br>
money</br>
village</br>
desperate</br>
ultimate</br>
kingdom</br>
country</br>
voice</br>
power</br>
</a></div>
</div></br>
Top picks:</br>
Leah Remini: Scientology and the Aftermath  (IMDB rating: 9.1)</br>
Ramayan  (IMDB rating: 9.1)</br>
Bye Bye London  (IMDB rating: 9.0)</br>
C/o Kancharapalem  (IMDB rating: 9.0)</br>
When They See Us  (IMDB rating: 8.9)</br>
Rubaru Roshni  (IMDB rating: 8.9)</br>
One-Punch Man  (IMDB rating: 8.8)</br>
Car Masters: Rust to Riches  (IMDB rating: 8.8)</br>
Inception  (IMDB rating: 8.8)</br>
Twin Peaks  (IMDB rating: 8.8)</br>
Narcos  (IMDB rating: 8.8)</br>
Stories by Rabindranath Tagore  (IMDB rating: 8.8)</br>
Moving Art  (IMDB rating: 8.7)</br>
A Lion in the House  (IMDB rating: 8.7)</br>
Crash Landing on You  (IMDB rating: 8.7)</br>
Hospital Playlist  (IMDB rating: 8.7)</br>
Lenox Hill  (IMDB rating: 8.7)</br>
Fate of Alakada  (IMDB rating: 8.7)</br>
Emicida: AmarElo - It's All for Yesterday  (IMDB rating: 8.6)</br>
Roll with Me  (IMDB rating: 8.6)</br>
</br></br><a href=index.html>start over</a>