 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
World War II In HD Colour  (IMDB rating: 8.7)</br>
Explained  (IMDB rating: 8.1)</br>
Documentary Now!  (IMDB rating: 8.1)</br>
Casino Royale  (IMDB rating: 8.0)</br>
A Plastic Ocean  (IMDB rating: 8.0)</br>
Birth Reborn  (IMDB rating: 8.0)</br>
The Final Table  (IMDB rating: 7.7)</br>
The Two Popes  (IMDB rating: 7.6)</br>
FIGHTWORLD  (IMDB rating: 7.6)</br>
Ludo  (IMDB rating: 7.6)</br>
Money Heist: The Phenomenon  (IMDB rating: 7.5)</br>
A Monster Calls  (IMDB rating: 7.5)</br>
Wadjda  (IMDB rating: 7.5)</br>
Twirlywoos  (IMDB rating: 7.4)</br>
Pelé  (IMDB rating: 7.1)</br>
Knightfall  (IMDB rating: 6.8)</br>
Narcoworld: Dope Stories  (IMDB rating: 6.6)</br>
The Ronda Rousey Story: Through My Father's Eyes  (IMDB rating: 6.2)</br>
Fittest in Dubai  (IMDB rating: 6.1)</br>
Alexander  (IMDB rating: 5.6)</br>
</br></br><a href=index.html>start over</a>