 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_1_3_1.html>
episode</br>
science</br>
husband</br>
teenage</br>
comic</br>
british</br>
unique</br>
fictional</br>
scene</br>
modern</br>
culture</br>
comedy</br>
</a></div>
<div class="column"><a href=0_0_1_3_2.html>
seven</br>
leave</br>
global</br>
train</br>
world</br>
coming</br>
comedian</br>
explore</br>
netflix</br>
funny</br>
stand</br>
comedy</br>
</a></div>
</div></br>
Top picks:</br>
Still Game  (IMDB rating: 8.8)</br>
Monty Python's Flying Circus  (IMDB rating: 8.8)</br>
Middleditch & Schwartz  (IMDB rating: 8.7)</br>
Patriot Act with Hasan Minhaj  (IMDB rating: 8.3)</br>
Comedians in Cars Getting Coffee  (IMDB rating: 8.1)</br>
Adam Ruins Everything  (IMDB rating: 8.0)</br>
Big Mouth  (IMDB rating: 8.0)</br>
Aunty Donna's Big Ol' House of Fun  (IMDB rating: 8.0)</br>
Monty Python: Live at Aspen  (IMDB rating: 7.9)</br>
Portlandia  (IMDB rating: 7.8)</br>
I Think You Should Leave with Tim Robinson  (IMDB rating: 7.7)</br>
Katt Williams: The Pimp Chronicles Pt. 1  (IMDB rating: 7.7)</br>
Jim Gaffigan: Obsessed  (IMDB rating: 7.6)</br>
Nate Bargatze: The Tennessee Kid  (IMDB rating: 7.6)</br>
Ali Wong: Baby Cobra  (IMDB rating: 7.5)</br>
Mike Birbiglia: Thank God for Jokes  (IMDB rating: 7.5)</br>
Tig  (IMDB rating: 7.4)</br>
W/ Bob & David  (IMDB rating: 7.4)</br>
Cracked Up: The Darrell Hammond Story  (IMDB rating: 7.3)</br>
Zach Galifianakis: Live at the Purple Onion  (IMDB rating: 7.3)</br>
</br></br><a href=index.html>start over</a>