 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Narcos  (IMDB rating: 8.8)</br>
One-Punch Man  (IMDB rating: 8.8)</br>
Love Ni Bhavai  (IMDB rating: 8.3)</br>
Queen  (IMDB rating: 8.2)</br>
Handsome Siblings  (IMDB rating: 8.2)</br>
Russian Doll  (IMDB rating: 7.9)</br>
Just You  (IMDB rating: 7.5)</br>
Hum Aapke Hain Koun..!  (IMDB rating: 7.5)</br>
Emily in Paris  (IMDB rating: 7.1)</br>
Nothing to Hide  (IMDB rating: 6.8)</br>
StarBeam  (IMDB rating: 6.8)</br>
The Boys in the Band  (IMDB rating: 6.8)</br>
Can't Hardly Wait  (IMDB rating: 6.5)</br>
Much Ado About Nothing  (IMDB rating: 6.5)</br>
The Devil Punisher  (IMDB rating: 6.4)</br>
Alex Strangelove  (IMDB rating: 6.3)</br>
To All the Boys: P.S. I Still Love You  (IMDB rating: 6.0)</br>
The Wedding Party  (IMDB rating: 6.0)</br>
Super Monsters: Vida's First Halloween  (IMDB rating: 5.9)</br>
Bridezilla  (IMDB rating: 5.9)</br>
</br></br><a href=index.html>start over</a>