 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Barfi!  (IMDB rating: 8.1)</br>
Imposters  (IMDB rating: 7.8)</br>
The Curious Creations of Christine McConnell  (IMDB rating: 7.8)</br>
Carlos Almaraz: Playing With Fire  (IMDB rating: 7.5)</br>
Sky Ladder: The Art of Cai Guo-Qiang  (IMDB rating: 7.3)</br>
Free Rein  (IMDB rating: 7.3)</br>
Wet Hot American Summer: 10 Years Later  (IMDB rating: 6.9)</br>
It Takes a Lunatic  (IMDB rating: 6.6)</br>
Creep 2  (IMDB rating: 6.5)</br>
Banana Split  (IMDB rating: 6.2)</br>
The Debt Collector  (IMDB rating: 5.8)</br>
Tini: The New Life of Violetta  (IMDB rating: 5.5)</br>
The Millions  (IMDB rating: 5.5)</br>
The Young Vagabond  (IMDB rating: 5.5)</br>
BUNK'D  (IMDB rating: 5.4)</br>
Aiyyaa  (IMDB rating: 4.4)</br>
</br></br><a href=index.html>start over</a>