 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0_0_3_0.html>
singer</br>
popular</br>
government</br>
mexico</br>
named</br>
little</br>
production</br>
husband</br>
funny</br>
including</br>
corruption</br>
money</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_3_1.html>
master</br>
leave</br>
champion</br>
impossible</br>
investigation</br>
named</br>
choice</br>
handsome</br>
island</br>
person</br>
million</br>
chance</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_3_3.html>
player</br>
start</br>
control</br>
aspiring</br>
money</br>
university</br>
order</br>
create</br>
rival</br>
production</br>
working</br>
company</br>
</a></div>
</div></br>
Top picks:</br>
Inception  (IMDB rating: 8.8)</br>
Mystery Science Theater 3000  (IMDB rating: 8.5)</br>
True: Happy Hearts Day  (IMDB rating: 8.5)</br>
The Mechanism  (IMDB rating: 8.4)</br>
The Seven Deadly Sins  (IMDB rating: 8.1)</br>
Start-Up  (IMDB rating: 8.1)</br>
Romance is a Bonus Book  (IMDB rating: 8.1)</br>
Dirty Money  (IMDB rating: 8.1)</br>
Blood & Treasures  (IMDB rating: 8.0)</br>
Dead to Me  (IMDB rating: 8.0)</br>
Mystery Science Theater 3000: The Return  (IMDB rating: 8.0)</br>
The Death of Mr. Lazarescu  (IMDB rating: 7.9)</br>
The Girl with the Dragon Tattoo  (IMDB rating: 7.8)</br>
Lupin the Third: The Castle of Cagliostro  (IMDB rating: 7.7)</br>
Dear Ex  (IMDB rating: 7.4)</br>
Love and Shukla  (IMDB rating: 7.4)</br>
3%  (IMDB rating: 7.4)</br>
My Shy Boss  (IMDB rating: 7.3)</br>
The Fundamentals of Caring  (IMDB rating: 7.3)</br>
Pee Mak Phrakanong  (IMDB rating: 7.3)</br>
</br></br><a href=index.html>start over</a>