 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Hilda  (IMDB rating: 8.6)</br>
Untamed Romania  (IMDB rating: 8.5)</br>
Wizards: Tales of Arcadia  (IMDB rating: 8.2)</br>
Little Witch Academia  (IMDB rating: 7.9)</br>
Rainbow Jelly  (IMDB rating: 7.0)</br>
YooHoo to the Rescue  (IMDB rating: 6.8)</br>
My Little Pony: Equestria Girls - Legend of Everfree  (IMDB rating: 6.5)</br>
My Little Pony: Equestria Girls  (IMDB rating: 6.4)</br>
Zak Storm  (IMDB rating: 6.4)</br>
Bright  (IMDB rating: 6.3)</br>
A Thousand Words  (IMDB rating: 5.9)</br>
Let It Snow  (IMDB rating: 5.8)</br>
The Main Event  (IMDB rating: 4.8)</br>
ViR: The Robot Boy  (IMDB rating: 2.7)</br>
Little Singham Bandarpur Mein Hu Ha Hu  (IMDB rating: nan)</br>
Super Bheem Bana Vajraveer  (IMDB rating: nan)</br>
Flowering Heart  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>