 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Django Unchained  (IMDB rating: 8.4)</br>
Transformers: Rescue Bots Academy  (IMDB rating: 7.0)</br>
Kursk  (IMDB rating: 6.6)</br>
The Red Sea Diving Resort  (IMDB rating: 6.6)</br>
Free Rein: Valentine's Day  (IMDB rating: 6.5)</br>
Animals on the Loose: A You vs. Wild Movie  (IMDB rating: 5.8)</br>
Search Party  (IMDB rating: 5.6)</br>
Inside Man: Most Wanted  (IMDB rating: 5.6)</br>
Dragons: Rescue Riders: Hunt for the Golden Dragon  (IMDB rating: 5.4)</br>
Malibu Rescue: The Series  (IMDB rating: 5.3)</br>
Beyond Skyline  (IMDB rating: 5.3)</br>
</br></br><a href=index.html>start over</a>