 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
President  (IMDB rating: 7.5)</br>
False Identity  (IMDB rating: 7.3)</br>
ATM  (IMDB rating: 7.1)</br>
My Best Friend's Wedding  (IMDB rating: 6.3)</br>
5 Flights Up  (IMDB rating: 6.2)</br>
Miss Rose  (IMDB rating: 6.1)</br>
The Lovers  (IMDB rating: 6.1)</br>
Humpty Sharma Ki Dulhania  (IMDB rating: 6.0)</br>
Savita Damodar Paranjpe  (IMDB rating: 5.9)</br>
What Keeps You Alive  (IMDB rating: 5.7)</br>
Düğüm Salonu  (IMDB rating: 5.4)</br>
The Week Of  (IMDB rating: 5.2)</br>
Best Neighbors  (IMDB rating: 2.7)</br>
</br></br><a href=index.html>start over</a>