 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Say I Do  (IMDB rating: 7.8)</br>
Total Recall  (IMDB rating: 7.5)</br>
Nailed It!  (IMDB rating: 7.4)</br>
Total Drama Island  (IMDB rating: 7.2)</br>
Memory Games  (IMDB rating: 6.7)</br>
Christina P: Mother Inferior  (IMDB rating: 6.3)</br>
Rememory  (IMDB rating: 6.2)</br>
Ghanchakkar  (IMDB rating: 5.8)</br>
VR Troopers  (IMDB rating: 5.7)</br>
The Cloverfield Paradox  (IMDB rating: 5.5)</br>
Reality Z  (IMDB rating: 5.4)</br>
A Cinderella Story: Christmas Wish  (IMDB rating: 5.3)</br>
The Accidental Spy  (IMDB rating: 4.7)</br>
Towies  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>