 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Schitt's Creek  (IMDB rating: 8.5)</br>
The K2  (IMDB rating: 7.8)</br>
In My Country  (IMDB rating: 7.6)</br>
Safe  (IMDB rating: 7.3)</br>
No Second Chance  (IMDB rating: 7.2)</br>
Circus of Books  (IMDB rating: 7.1)</br>
Stolen Away  (IMDB rating: 7.1)</br>
Triad Princess  (IMDB rating: 7.0)</br>
Great News  (IMDB rating: 7.0)</br>
AK vs AK  (IMDB rating: 7.0)</br>
Thottappan  (IMDB rating: 7.0)</br>
Under the Shadow  (IMDB rating: 6.9)</br>
The Crew  (IMDB rating: 6.6)</br>
Rock my Heart  (IMDB rating: 6.5)</br>
Homefront  (IMDB rating: 6.5)</br>
Isi & Ossi  (IMDB rating: 6.4)</br>
Lovesong  (IMDB rating: 6.3)</br>
The Blazing Sun  (IMDB rating: 6.3)</br>
Merry Happy Whatever  (IMDB rating: 6.3)</br>
A Very Country Christmas  (IMDB rating: 6.1)</br>
</br></br><a href=index.html>start over</a>