 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Emicida: AmarElo - It's All for Yesterday  (IMDB rating: 8.6)</br>
Queer Eye  (IMDB rating: 8.5)</br>
Halt and Catch Fire  (IMDB rating: 8.4)</br>
Sudani from Nigeria  (IMDB rating: 8.2)</br>
Somebody Feed Phil  (IMDB rating: 8.2)</br>
Carole & Tuesday  (IMDB rating: 7.9)</br>
The Movies That Made Us  (IMDB rating: 7.8)</br>
The C Word  (IMDB rating: 7.6)</br>
Brené Brown: The Call to Courage  (IMDB rating: 7.6)</br>
The Casketeers  (IMDB rating: 7.4)</br>
Close Enemies  (IMDB rating: 6.3)</br>
Six Windows in the Desert  (IMDB rating: 4.1)</br>
Bill Nye Saves the World  (IMDB rating: 3.6)</br>
Miss India  (IMDB rating: 3.3)</br>
</br></br><a href=index.html>start over</a>