 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Disastrous Life of Saiki K.  (IMDB rating: 8.3)</br>
The Good Place  (IMDB rating: 8.2)</br>
Beyond All Boundaries  (IMDB rating: 8.0)</br>
Marvel's Agents of S.H.I.E.L.D.  (IMDB rating: 7.5)</br>
Hunterrr  (IMDB rating: 7.0)</br>
Amazing Interiors  (IMDB rating: 6.7)</br>
Turbo  (IMDB rating: 6.4)</br>
Prince of Peoria  (IMDB rating: 5.6)</br>
Julius Jr.  (IMDB rating: 5.4)</br>
Superlópez  (IMDB rating: 5.3)</br>
Scales: Mermaids Are Real  (IMDB rating: 4.4)</br>
</br></br><a href=index.html>start over</a>