 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_4_0.html>
present</br>
everyday</br>
forest</br>
travel</br>
competition</br>
magic</br>
inside</br>
unique</br>
solve</br>
adventure</br>
little</br>
magical</br>
</a></div>
<div class="column"><a href=0_0_0_4_2.html>
aspiring</br>
college</br>
social</br>
singer</br>
reality</br>
chance</br>
talented</br>
dance</br>
create</br>
online</br>
compete</br>
competition</br>
</a></div>
<div class="column"><a href=0_0_0_4_3.html>
action</br>
place</br>
magic</br>
street</br>
black</br>
spain</br>
wrong</br>
return</br>
prison</br>
forced</br>
survival</br>
fight</br>
</a></div>
<div class="column"><a href=0_0_0_4_4.html>
partner</br>
country</br>
documentary</br>
right</br>
global</br>
african</br>
attack</br>
american</br>
village</br>
rival</br>
control</br>
battle</br>
</a></div>
</div></br>
Top picks:</br>
The Great British Bake Off  (IMDB rating: 8.6)</br>
Hilda  (IMDB rating: 8.6)</br>
Untamed Romania  (IMDB rating: 8.5)</br>
Saint Seiya  (IMDB rating: 8.5)</br>
Wizards: Tales of Arcadia  (IMDB rating: 8.2)</br>
Rimba Racer  (IMDB rating: 8.2)</br>
Monty Python and the Holy Grail  (IMDB rating: 8.2)</br>
Itaewon Class  (IMDB rating: 8.2)</br>
Jonathan Strange & Mr Norrell  (IMDB rating: 8.1)</br>
Ip Man  (IMDB rating: 8.0)</br>
Fate/stay night [Unlimited Blade Works]  (IMDB rating: 8.0)</br>
Attacking the Devil: Harold Evans and the Last Nazi War Crime  (IMDB rating: 8.0)</br>
The Ivory Game  (IMDB rating: 7.9)</br>
Transformers: Prime  (IMDB rating: 7.9)</br>
Little Witch Academia  (IMDB rating: 7.9)</br>
Ee Nagaraniki Emaindi  (IMDB rating: 7.9)</br>
The Boulet Brothers' Dragula  (IMDB rating: 7.9)</br>
She-Ra and the Princesses of Power  (IMDB rating: 7.8)</br>
Bending the Arc  (IMDB rating: 7.7)</br>
Sherlock Holmes  (IMDB rating: 7.6)</br>
</br></br><a href=index.html>start over</a>