 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Rhyme Time Town Singalongs  (IMDB rating: 8.6)</br>
Fullmetal Alchemist  (IMDB rating: 8.5)</br>
Julie's Greenroom  (IMDB rating: 8.5)</br>
Medal of Honor  (IMDB rating: 8.4)</br>
Cheer  (IMDB rating: 8.1)</br>
Paquita Salas  (IMDB rating: 8.0)</br>
The Blacklist  (IMDB rating: 8.0)</br>
Sylvanian Families  (IMDB rating: 7.8)</br>
Marco Polo: One Hundred Eyes  (IMDB rating: 7.8)</br>
Kannum Kannum Kollaiyadithaal  (IMDB rating: 7.7)</br>
Once Upon a Time in Lingjian Mountain  (IMDB rating: 7.7)</br>
Mersal  (IMDB rating: 7.6)</br>
Smoking  (IMDB rating: 7.6)</br>
1994  (IMDB rating: 7.6)</br>
Ne Zha  (IMDB rating: 7.5)</br>
No Game No Life: Zero  (IMDB rating: 7.5)</br>
Pokémon  (IMDB rating: 7.5)</br>
Rudy Habibie  (IMDB rating: 7.5)</br>
Bangkok Love Stories 2: Plead  (IMDB rating: 7.4)</br>
The Trader  (IMDB rating: 7.4)</br>
</br></br><a href=index.html>start over</a>