 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
行医  (IMDB rating: 8.2)</br>
Girls from Ipanema  (IMDB rating: 7.9)</br>
Derren Brown: Miracles for Sale  (IMDB rating: 7.8)</br>
Beat Bugs  (IMDB rating: 7.6)</br>
Sugar High  (IMDB rating: 7.3)</br>
Ultimate Beastmaster  (IMDB rating: 7.3)</br>
The Muppets  (IMDB rating: 7.1)</br>
Win the Wilderness: Alaska  (IMDB rating: 7.0)</br>
We Are: The Brooklyn Saints  (IMDB rating: 6.9)</br>
Derren Brown: Miracle  (IMDB rating: 6.6)</br>
Life Sentence  (IMDB rating: 6.6)</br>
72 Dangerous Places to Live  (IMDB rating: 6.3)</br>
Skin Wars: Fresh Paint  (IMDB rating: 6.2)</br>
VeggieTales in the City  (IMDB rating: 6.1)</br>
Nailed It! Mexico  (IMDB rating: 6.0)</br>
Circle  (IMDB rating: 6.0)</br>
Word Party  (IMDB rating: 6.0)</br>
PJ Masks  (IMDB rating: 5.6)</br>
Best Leftovers Ever!  (IMDB rating: 5.6)</br>
Yucatán  (IMDB rating: 5.5)</br>
</br></br><a href=index.html>start over</a>