 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
When They See Us  (IMDB rating: 8.9)</br>
Black Friday  (IMDB rating: 8.5)</br>
Kipo and the Age of Wonderbeasts  (IMDB rating: 8.4)</br>
Babylon Berlin  (IMDB rating: 8.4)</br>
Messiah  (IMDB rating: 7.6)</br>
Designated Survivor  (IMDB rating: 7.5)</br>
Bethany Hamilton: Unstoppable  (IMDB rating: 7.4)</br>
The Confession Killer  (IMDB rating: 7.4)</br>
Hangar 1: The UFO Files  (IMDB rating: 7.3)</br>
Tijuana  (IMDB rating: 7.1)</br>
Ten Years  (IMDB rating: 6.7)</br>
Bon Cop Bad Cop 2  (IMDB rating: 6.7)</br>
Extremely Wicked, Shockingly Evil and Vile  (IMDB rating: 6.6)</br>
Dark Desire  (IMDB rating: 6.4)</br>
The Cell  (IMDB rating: 6.4)</br>
Motor Mitraan Di  (IMDB rating: 6.1)</br>
Equinox  (IMDB rating: 6.1)</br>
Truth or Dare  (IMDB rating: 5.0)</br>
Alarmoty in the Land of Fire  (IMDB rating: nan)</br>
Criminal: Germany  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>