 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_3_0_0.html>
teenage</br>
single</br>
hidden</br>
investigation</br>
secret</br>
mystery</br>
murder</br>
investigate</br>
killed</br>
investigating</br>
police</br>
officer</br>
</a></div>
<div class="column"><a href=0_0_3_0_1.html>
search</br>
missing</br>
forced</br>
daughter</br>
group</br>
investigation</br>
killed</br>
force</br>
local</br>
small</br>
spain</br>
police</br>
</a></div>
<div class="column"><a href=0_0_3_0_3.html>
restaurant</br>
girlfriend</br>
lawyer</br>
sinister</br>
leader</br>
known</br>
small</br>
force</br>
wanted</br>
prison</br>
police</br>
criminal</br>
</a></div>
<div class="column"><a href=0_0_3_0_4.html>
women</br>
quickly</br>
finding</br>
documentary</br>
senior</br>
officer</br>
prison</br>
justice</br>
murdered</br>
police</br>
serial</br>
killer</br>
</a></div>
</div></br>
Top picks:</br>
Better Call Saul  (IMDB rating: 8.7)</br>
Hannibal  (IMDB rating: 8.5)</br>
The Departed  (IMDB rating: 8.5)</br>
Live  (IMDB rating: 8.4)</br>
Money Heist  (IMDB rating: 8.3)</br>
Wild District  (IMDB rating: 8.3)</br>
Andaz Apna Apna  (IMDB rating: 8.2)</br>
Batman Begins  (IMDB rating: 8.2)</br>
Blackfish  (IMDB rating: 8.1)</br>
Ripper Street  (IMDB rating: 8.1)</br>
Criminal Minds  (IMDB rating: 8.1)</br>
Cool Hand Luke  (IMDB rating: 8.1)</br>
When the Camellia Blooms  (IMDB rating: 8.0)</br>
Man Like Mobeen  (IMDB rating: 8.0)</br>
Let It Fall: Los Angeles 1982-1992  (IMDB rating: 7.8)</br>
Silver Spoon  (IMDB rating: 7.8)</br>
American Crime  (IMDB rating: 7.8)</br>
Voice  (IMDB rating: 7.7)</br>
The Good Cop  (IMDB rating: 7.7)</br>
Murder Maps  (IMDB rating: 7.5)</br>
</br></br><a href=index.html>start over</a>