 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Rise of Phoenixes  (IMDB rating: 8.7)</br>
This Evening  (IMDB rating: 8.3)</br>
Legend Quest: Masters of Myth  (IMDB rating: 8.2)</br>
Oh My Ghost  (IMDB rating: 8.1)</br>
Kal Ho Naa Ho  (IMDB rating: 8.0)</br>
A Secret Love  (IMDB rating: 7.9)</br>
Nobody's Looking  (IMDB rating: 7.8)</br>
60 Days In  (IMDB rating: 7.7)</br>
Nurse Jackie  (IMDB rating: 7.7)</br>
Walt Disney Animation Studios Short Films Collection  (IMDB rating: 7.7)</br>
Spinning Out  (IMDB rating: 7.6)</br>
Good Morning, Verônica  (IMDB rating: 7.6)</br>
Secret City  (IMDB rating: 7.4)</br>
Well-Intended Love  (IMDB rating: 7.4)</br>
Bhaji in Problem  (IMDB rating: 7.3)</br>
To All the Boys I've Loved Before  (IMDB rating: 7.1)</br>
The Chalet  (IMDB rating: 7.0)</br>
Warrior Nun  (IMDB rating: 6.8)</br>
Operation Finale  (IMDB rating: 6.6)</br>
Next Gen  (IMDB rating: 6.6)</br>
</br></br><a href=index.html>start over</a>