 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Ben Platt: Live from Radio City Music Hall  (IMDB rating: 8.4)</br>
The Sound of Your Heart  (IMDB rating: 8.3)</br>
HAPPY!  (IMDB rating: 8.2)</br>
Samurai Gourmet  (IMDB rating: 8.2)</br>
Oh Yuck!  (IMDB rating: 8.1)</br>
The Gospel of John  (IMDB rating: 7.8)</br>
Nick Kroll & John Mulaney: Oh, Hello on Broadway  (IMDB rating: 7.8)</br>
Losers  (IMDB rating: 7.7)</br>
Adam Sandler: 100% Fresh  (IMDB rating: 7.6)</br>
Scott Pilgrim vs. the World  (IMDB rating: 7.5)</br>
The Forty-Year-Old Version  (IMDB rating: 7.3)</br>
Tom Segura: Ball Hog  (IMDB rating: 7.3)</br>
Berlin Calling  (IMDB rating: 7.2)</br>
Rotten  (IMDB rating: 7.2)</br>
Karthik Calling Karthik  (IMDB rating: 7.1)</br>
Jimmy: The True Story of a True Idiot  (IMDB rating: 6.8)</br>
Tallulah  (IMDB rating: 6.7)</br>
Canvas  (IMDB rating: 6.5)</br>
Poacher  (IMDB rating: 6.5)</br>
Saturday Church  (IMDB rating: 6.4)</br>
</br></br><a href=index.html>start over</a>