 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Trash Truck  (IMDB rating: 8.5)</br>
Sense8  (IMDB rating: 8.3)</br>
The Witcher  (IMDB rating: 8.2)</br>
Sebastian Maniscalco: What's Wrong with People?  (IMDB rating: 8.1)</br>
The Uncanny Counter  (IMDB rating: 8.1)</br>
Salt Fat Acid Heat  (IMDB rating: 7.7)</br>
Flavorful Origins  (IMDB rating: 7.7)</br>
My Holo Love  (IMDB rating: 7.7)</br>
The World's Most Extraordinary Homes  (IMDB rating: 7.6)</br>
Being Elmo: A Puppeteer's Journey  (IMDB rating: 7.6)</br>
The Distinguished Citizen  (IMDB rating: 7.5)</br>
Invictus  (IMDB rating: 7.3)</br>
Notes on Blindness  (IMDB rating: 7.1)</br>
Home Game  (IMDB rating: 7.1)</br>
Voulez-vous rire avec moi ce soir?  (IMDB rating: 6.9)</br>
Sword Art Online Alternative: Gun Gale Online  (IMDB rating: 6.8)</br>
Ainu Mosir  (IMDB rating: 6.7)</br>
La Révolution  (IMDB rating: 6.5)</br>
Battlefield Recovery  (IMDB rating: 6.4)</br>
Ares  (IMDB rating: 6.3)</br>
</br></br><a href=index.html>start over</a>