 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Socha Na Tha  (IMDB rating: 7.4)</br>
Love per Square Foot  (IMDB rating: 7.2)</br>
Verses of Love  (IMDB rating: 7.0)</br>
When Hari Got Married  (IMDB rating: 7.0)</br>
Ali's Wedding  (IMDB rating: 6.9)</br>
Indian Matchmaking  (IMDB rating: 6.2)</br>
Wedding Unplanned  (IMDB rating: 6.2)</br>
Holiday in the Wild  (IMDB rating: 6.1)</br>
Layla Majnun  (IMDB rating: 6.0)</br>
Nights in Rodanthe  (IMDB rating: 6.0)</br>
You've Got This  (IMDB rating: 5.8)</br>
Maya Memsaab  (IMDB rating: 5.4)</br>
Fun Mom Dinner  (IMDB rating: 5.3)</br>
Sat Shri Akaal England  (IMDB rating: 5.3)</br>
Break Ke Baad  (IMDB rating: 5.2)</br>
Thank You  (IMDB rating: 4.7)</br>
Leyla Everlasting  (IMDB rating: 3.8)</br>
Deviant Love  (IMDB rating: 3.5)</br>
</br></br><a href=index.html>start over</a>