 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Leah Remini: Scientology and the Aftermath  (IMDB rating: 9.1)</br>
Car Masters: Rust to Riches  (IMDB rating: 8.8)</br>
Moving Art  (IMDB rating: 8.7)</br>
Lenox Hill  (IMDB rating: 8.7)</br>
Emily's Wonder Lab  (IMDB rating: 8.6)</br>
Roll with Me  (IMDB rating: 8.6)</br>
Formula 1: Drive to Survive  (IMDB rating: 8.6)</br>
Headspace Guide to Meditation  (IMDB rating: 8.6)</br>
On the Real  (IMDB rating: 8.6)</br>
Hikaru Utada Laughter in the Dark Tour 2018  (IMDB rating: 8.5)</br>
Trollhunters: Tales of Arcadia  (IMDB rating: 8.5)</br>
Bill Hicks: Sane Man  (IMDB rating: 8.4)</br>
The Surgeon's Cut  (IMDB rating: 8.4)</br>
Rush: Beyond The Lighted Stage  (IMDB rating: 8.4)</br>
Forged in Fire  (IMDB rating: 8.4)</br>
Chef's Table: France  (IMDB rating: 8.3)</br>
Cuba and the Cameraman  (IMDB rating: 8.3)</br>
Extras  (IMDB rating: 8.3)</br>
21 Sarfarosh - Saragarhi 1897  (IMDB rating: 8.3)</br>
Wild Wild Country  (IMDB rating: 8.2)</br>
</br></br><a href=index.html>start over</a>