 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_2_4_0.html>
including</br>
children</br>
child</br>
friend</br>
marriage</br>
discover</br>
women</br>
sister</br>
single</br>
death</br>
daughter</br>
mother</br>
</a></div>
<div class="column"><a href=0_0_2_4_1.html>
country</br>
celebrity</br>
director</br>
course</br>
sarah</br>
challenge</br>
protect</br>
missing</br>
people</br>
revenge</br>
friend</br>
daughter</br>
</a></div>
<div class="column"><a href=0_0_2_4_2.html>
spain</br>
following</br>
determined</br>
finding</br>
american</br>
mother</br>
international</br>
kidnapped</br>
owner</br>
husband</br>
teenage</br>
daughter</br>
</a></div>
<div class="column"><a href=0_0_2_4_4.html>
mumbai</br>
santa</br>
haunted</br>
journey</br>
older</br>
eccentric</br>
think</br>
mother</br>
younger</br>
missing</br>
sister</br>
brother</br>
</a></div>
</div></br>
Top picks:</br>
Your Lie in April  (IMDB rating: 8.6)</br>
Schitt's Creek  (IMDB rating: 8.5)</br>
The Three Deaths of Marisela Escobedo  (IMDB rating: 8.3)</br>
Kath & Kim  (IMDB rating: 8.3)</br>
El marginal  (IMDB rating: 8.2)</br>
Bates Motel  (IMDB rating: 8.2)</br>
Gilmore Girls  (IMDB rating: 8.1)</br>
Cleo & Cuquin  (IMDB rating: 7.9)</br>
The K2  (IMDB rating: 7.8)</br>
Roma  (IMDB rating: 7.7)</br>
In My Country  (IMDB rating: 7.6)</br>
Cupcake & Dino - General Services  (IMDB rating: 7.6)</br>
The Letdown  (IMDB rating: 7.5)</br>
The Victims' Game  (IMDB rating: 7.4)</br>
Good Time  (IMDB rating: 7.4)</br>
Mother Goose Club  (IMDB rating: 7.4)</br>
37 Seconds  (IMDB rating: 7.3)</br>
Safe  (IMDB rating: 7.3)</br>
The Conjuring 2  (IMDB rating: 7.3)</br>
20th Century Women  (IMDB rating: 7.3)</br>
</br></br><a href=index.html>start over</a>