 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Hombanna  (IMDB rating: 8.3)</br>
Afronta! Facing It!  (IMDB rating: 7.8)</br>
Ultraviolet  (IMDB rating: 7.0)</br>
Slasher  (IMDB rating: 6.7)</br>
Menashe  (IMDB rating: 6.5)</br>
Two Weeks Notice  (IMDB rating: 6.2)</br>
Trailer Park Boys - Live in F**kin' Dublin  (IMDB rating: 6.0)</br>
A Stoning in Fulham County  (IMDB rating: 5.7)</br>
The Nut Job  (IMDB rating: 5.7)</br>
Super Drags  (IMDB rating: 5.5)</br>
Kismat Konnection  (IMDB rating: 5.2)</br>
</br></br><a href=index.html>start over</a>