 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0_0_0_0_0.html>
murdered</br>
remote</br>
taken</br>
leaving</br>
global</br>
super</br>
event</br>
spirit</br>
master</br>
deadly</br>
human</br>
rural</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_0_0_1.html>
movement</br>
social</br>
girlfriend</br>
breaking</br>
haunted</br>
officer</br>
following</br>
state</br>
political</br>
terrorist</br>
attack</br>
truth</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_0_0_2.html>
master</br>
inner</br>
faith</br>
identity</br>
youth</br>
hotel</br>
member</br>
incident</br>
college</br>
trying</br>
student</br>
teacher</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_0_0_3.html>
follow</br>
meeting</br>
extraordinary</br>
animal</br>
lover</br>
actor</br>
identity</br>
secretly</br>
taken</br>
private</br>
owner</br>
island</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_0_0_4.html>
happy</br>
media</br>
discovery</br>
little</br>
better</br>
humanity</br>
million</br>
investigation</br>
spend</br>
strange</br>
middle</br>
beautiful</br>
</a></div>
</div></br>
Top picks:</br>
When They See Us  (IMDB rating: 8.9)</br>
Rhyme Time Town Singalongs  (IMDB rating: 8.6)</br>
Julie's Greenroom  (IMDB rating: 8.5)</br>
Black Friday  (IMDB rating: 8.5)</br>
Fullmetal Alchemist  (IMDB rating: 8.5)</br>
Medal of Honor  (IMDB rating: 8.4)</br>
Babylon Berlin  (IMDB rating: 8.4)</br>
Kipo and the Age of Wonderbeasts  (IMDB rating: 8.4)</br>
Castlevania  (IMDB rating: 8.2)</br>
Cheer  (IMDB rating: 8.1)</br>
The Blacklist  (IMDB rating: 8.0)</br>
Paquita Salas  (IMDB rating: 8.0)</br>
Check The Store Next Door: The Next Chapter  (IMDB rating: 7.8)</br>
Sylvanian Families  (IMDB rating: 7.8)</br>
Marco Polo: One Hundred Eyes  (IMDB rating: 7.8)</br>
Once Upon a Time in Lingjian Mountain  (IMDB rating: 7.7)</br>
Silver Linings Playbook  (IMDB rating: 7.7)</br>
Kannum Kannum Kollaiyadithaal  (IMDB rating: 7.7)</br>
1994  (IMDB rating: 7.6)</br>
Mersal  (IMDB rating: 7.6)</br>
</br></br><a href=index.html>start over</a>