 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Death Note  (IMDB rating: 9.0)</br>
Longmire  (IMDB rating: 8.3)</br>
Aggretsuko  (IMDB rating: 8.1)</br>
The Story of God with Morgan Freeman  (IMDB rating: 7.9)</br>
Erased  (IMDB rating: 7.9)</br>
Santa Clarita Diet  (IMDB rating: 7.8)</br>
A Series of Unfortunate Events  (IMDB rating: 7.8)</br>
Soul Eater  (IMDB rating: 7.8)</br>
Mumbai Meri Jaan  (IMDB rating: 7.7)</br>
Nisman: El fiscal, la presidenta y el espía  (IMDB rating: 7.7)</br>
The Pharmacist  (IMDB rating: 7.7)</br>
The Devil Next Door  (IMDB rating: 7.6)</br>
Neon Genesis Evangelion: Death and Rebirth  (IMDB rating: 7.5)</br>
I Am a Killer  (IMDB rating: 7.5)</br>
Bad Blood  (IMDB rating: 7.5)</br>
Tientsin Mystic  (IMDB rating: 7.4)</br>
Black Money Love  (IMDB rating: 7.3)</br>
ReMastered: The Two Killings of Sam Cooke  (IMDB rating: 7.3)</br>
The Death and Life of Marsha P. Johnson  (IMDB rating: 7.3)</br>
Talaash  (IMDB rating: 7.2)</br>
</br></br><a href=index.html>start over</a>