 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Crash Landing on You  (IMDB rating: 8.7)</br>
Code Geass: Lelouch of the Rebellion  (IMDB rating: 8.6)</br>
No Direction Home: Bob Dylan  (IMDB rating: 8.5)</br>
The Dragon Prince  (IMDB rating: 8.4)</br>
Fauda  (IMDB rating: 8.2)</br>
Cold Case Files  (IMDB rating: 8.1)</br>
Lucifer  (IMDB rating: 8.1)</br>
Paranormal  (IMDB rating: 8.1)</br>
The Irishman  (IMDB rating: 7.9)</br>
Zac & Mia  (IMDB rating: 7.9)</br>
Flint Town  (IMDB rating: 7.9)</br>
The Naked Director  (IMDB rating: 7.8)</br>
Maniac  (IMDB rating: 7.8)</br>
Drugs, Inc.  (IMDB rating: 7.8)</br>
Run On  (IMDB rating: 7.8)</br>
Abnormal Summit  (IMDB rating: 7.7)</br>
Stree  (IMDB rating: 7.6)</br>
The Naked Gun: From the Files of Police Squad!  (IMDB rating: 7.6)</br>
Arrow  (IMDB rating: 7.5)</br>
Stranger Than Fiction  (IMDB rating: 7.5)</br>
</br></br><a href=index.html>start over</a>