 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_3_0.html>
romantic</br>
little</br>
magic</br>
great</br>
musical</br>
humor</br>
london</br>
concert</br>
taking</br>
neighborhood</br>
unique</br>
david</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_3_3.html>
netflix</br>
thriller</br>
beauty</br>
stage</br>
working</br>
directed</br>
college</br>
academy</br>
award</br>
black</br>
america</br>
director</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_3_4.html>
country</br>
player</br>
black</br>
changing</br>
mexico</br>
concert</br>
nation</br>
humor</br>
local</br>
football</br>
cancer</br>
culture</br>
</a></div>
</div></br>
Top picks:</br>
Stories by Rabindranath Tagore  (IMDB rating: 8.8)</br>
Emicida: AmarElo - It's All for Yesterday  (IMDB rating: 8.6)</br>
Springsteen On Broadway  (IMDB rating: 8.5)</br>
Love, Death & Robots  (IMDB rating: 8.5)</br>
Queer Eye  (IMDB rating: 8.5)</br>
Louis C.K.: Hilarious  (IMDB rating: 8.5)</br>
Molang  (IMDB rating: 8.5)</br>
Whispers  (IMDB rating: 8.4)</br>
Halt and Catch Fire  (IMDB rating: 8.4)</br>
Jeopardy!  (IMDB rating: 8.2)</br>
Sudani from Nigeria  (IMDB rating: 8.2)</br>
Somebody Feed Phil  (IMDB rating: 8.2)</br>
Happy Jail  (IMDB rating: 8.0)</br>
I Am Not Your Negro  (IMDB rating: 7.9)</br>
Motown Magic  (IMDB rating: 7.9)</br>
Carole & Tuesday  (IMDB rating: 7.9)</br>
Marriage Story  (IMDB rating: 7.9)</br>
My Next Guest Needs No Introduction With David Letterman  (IMDB rating: 7.9)</br>
The Movies That Made Us  (IMDB rating: 7.8)</br>
Road to Roma  (IMDB rating: 7.7)</br>
</br></br><a href=index.html>start over</a>