 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Sacred Games  (IMDB rating: 8.6)</br>
Guru  (IMDB rating: 7.7)</br>
Aamir  (IMDB rating: 7.7)</br>
Yeh Ballet  (IMDB rating: 7.6)</br>
Cricket Fever: Mumbai Indians  (IMDB rating: 7.3)</br>
Beyond the Clouds  (IMDB rating: 7.0)</br>
She  (IMDB rating: 6.5)</br>
Krutant  (IMDB rating: 6.5)</br>
Mumbai Delhi Mumbai  (IMDB rating: 5.7)</br>
Dhoondte Reh Jaaoge  (IMDB rating: 5.6)</br>
Anjaan  (IMDB rating: 5.0)</br>
Chance Pe Dance  (IMDB rating: 4.7)</br>
</br></br><a href=index.html>start over</a>