 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_1_0_2_0.html>
finding</br>
final</br>
building</br>
personal</br>
president</br>
female</br>
singh</br>
michael</br>
marriage</br>
wedding</br>
couple</br>
married</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_0_2_1.html>
trying</br>
finally</br>
black</br>
writer</br>
white</br>
unlikely</br>
named</br>
change</br>
money</br>
couple</br>
getting</br>
married</br>
</a></div>
<div class="column"><a href=0_0_0_0_1_0_2_2.html>
trying</br>
suddenly</br>
force</br>
secretly</br>
unknown</br>
losing</br>
inspired</br>
france</br>
heart</br>
marriage</br>
child</br>
couple</br>
</a></div>
</div></br>
Top picks:</br>
Undercover  (IMDB rating: 7.9)</br>
President  (IMDB rating: 7.5)</br>
False Identity  (IMDB rating: 7.3)</br>
The Endless Trench  (IMDB rating: 7.2)</br>
ATM  (IMDB rating: 7.1)</br>
My Amnesia Girl  (IMDB rating: 6.8)</br>
Sofía Niño de Rivera: Natural Selection  (IMDB rating: 6.8)</br>
A Beautiful Life  (IMDB rating: 6.7)</br>
Dostana  (IMDB rating: 6.5)</br>
Haraamkhor  (IMDB rating: 6.4)</br>
Bride for Rent  (IMDB rating: 6.4)</br>
Someone Has to Die  (IMDB rating: 6.3)</br>
The Innocents  (IMDB rating: 6.3)</br>
Anchor Baby  (IMDB rating: 6.3)</br>
My Best Friend's Wedding  (IMDB rating: 6.3)</br>
5 Flights Up  (IMDB rating: 6.2)</br>
He Even Has Your Eyes  (IMDB rating: 6.2)</br>
Selfie 69  (IMDB rating: 6.2)</br>
The Lovers  (IMDB rating: 6.1)</br>
Rugrats in Paris: The Movie  (IMDB rating: 6.1)</br>
</br></br><a href=index.html>start over</a>