 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Ramayan  (IMDB rating: 9.1)</br>
Pablo Escobar, The Drug Lord  (IMDB rating: 8.5)</br>
Tim Minchin and the Heritage Orchestra: Live at the Royal Albert Hall  (IMDB rating: 8.5)</br>
Grand Designs  (IMDB rating: 8.5)</br>
Grand Hotel  (IMDB rating: 8.4)</br>
Hardy Bucks  (IMDB rating: 8.3)</br>
Limmy's Show!  (IMDB rating: 8.3)</br>
Shaun the Sheep  (IMDB rating: 8.2)</br>
Monty Python's Fliegender Zirkus  (IMDB rating: 8.2)</br>
Sunderland 'Til I Die  (IMDB rating: 8.1)</br>
Yu-Gi-Oh!  (IMDB rating: 7.9)</br>
Burnistoun  (IMDB rating: 7.9)</br>
Operation Ouch!  (IMDB rating: 7.8)</br>
Cain and Abel  (IMDB rating: 7.7)</br>
Legend of Chu and Han  (IMDB rating: 7.6)</br>
Tiger & Bunny  (IMDB rating: 7.5)</br>
Fated to Love You  (IMDB rating: 7.5)</br>
Pocoyo  (IMDB rating: 7.5)</br>
Moving On  (IMDB rating: 7.5)</br>
Oscar's Oasis  (IMDB rating: 7.5)</br>
</br></br><a href=index.html>start over</a>