 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Mystery Science Theater 3000  (IMDB rating: 8.5)</br>
The Mechanism  (IMDB rating: 8.4)</br>
Dirty Money  (IMDB rating: 8.1)</br>
Mystery Science Theater 3000: The Return  (IMDB rating: 8.0)</br>
The Girl with the Dragon Tattoo  (IMDB rating: 7.8)</br>
Lupin the Third: The Castle of Cagliostro  (IMDB rating: 7.7)</br>
Dear Ex  (IMDB rating: 7.4)</br>
1000 Rupee Note  (IMDB rating: 7.3)</br>
The Fundamentals of Caring  (IMDB rating: 7.3)</br>
Argos Comunicación  (IMDB rating: 7.2)</br>
Carlos Ballarta: El Amor es de Putos  (IMDB rating: 7.1)</br>
Trigger Warning with Killer Mike  (IMDB rating: 7.0)</br>
Brian Regan: On the Rocks  (IMDB rating: 7.0)</br>
Deewana  (IMDB rating: 6.9)</br>
Broken  (IMDB rating: 6.9)</br>
My Only Love Song  (IMDB rating: 6.8)</br>
Intersection  (IMDB rating: 6.6)</br>
Gerald's Game  (IMDB rating: 6.5)</br>
AMO  (IMDB rating: 6.5)</br>
Trailer Park Boys: Live at the North Pole  (IMDB rating: 6.3)</br>
</br></br><a href=index.html>start over</a>