 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0_0_4_1.html>
taken</br>
hunter</br>
local</br>
remote</br>
court</br>
favorite</br>
working</br>
champion</br>
accidentally</br>
company</br>
learn</br>
forced</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_0_4_2.html>
survive</br>
thing</br>
caught</br>
winning</br>
animated</br>
rural</br>
killed</br>
queen</br>
service</br>
sarah</br>
center</br>
community</br>
</a></div>
</div></br>
Top picks:</br>
Ash vs Evil Dead  (IMDB rating: 8.4)</br>
Hombanna  (IMDB rating: 8.3)</br>
The King's Avatar  (IMDB rating: 8.3)</br>
Afronta! Facing It!  (IMDB rating: 7.8)</br>
The King  (IMDB rating: 7.2)</br>
Survivor  (IMDB rating: 7.2)</br>
A Heavy Heart  (IMDB rating: 7.1)</br>
Ultraviolet  (IMDB rating: 7.0)</br>
Mako Mermaids: An H2O Adventure  (IMDB rating: 6.9)</br>
Funan  (IMDB rating: 6.9)</br>
Suffragette  (IMDB rating: 6.9)</br>
Slasher  (IMDB rating: 6.7)</br>
Capitani  (IMDB rating: 6.7)</br>
Menashe  (IMDB rating: 6.5)</br>
The Ballad of Lefty Brown  (IMDB rating: 6.3)</br>
My Runway  (IMDB rating: 6.3)</br>
Scams  (IMDB rating: 6.3)</br>
Two Weeks Notice  (IMDB rating: 6.2)</br>
Trailer Park Boys - Live in F**kin' Dublin  (IMDB rating: 6.0)</br>
The Nut Job  (IMDB rating: 5.7)</br>
</br></br><a href=index.html>start over</a>