 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_2_0_1.html>
legendary</br>
india</br>
death</br>
trouble</br>
follow</br>
american</br>
dealing</br>
estranged</br>
discover</br>
travel</br>
brother</br>
father</br>
</a></div>
<div class="column"><a href=0_0_2_0_4.html>
rescue</br>
finding</br>
birthday</br>
supernatural</br>
running</br>
encounter</br>
frank</br>
getting</br>
losing</br>
search</br>
mother</br>
father</br>
</a></div>
</div></br>
Top picks:</br>
Hunter x Hunter  (IMDB rating: 8.9)</br>
La Grande Chaumière Violette  (IMDB rating: 8.9)</br>
Shtisel  (IMDB rating: 8.6)</br>
Supernatural  (IMDB rating: 8.4)</br>
Super Deluxe  (IMDB rating: 8.3)</br>
Miracle in Cell No. 7  (IMDB rating: 8.2)</br>
Food Wars! Shokugeki no Soma  (IMDB rating: 8.2)</br>
Pan's Labyrinth  (IMDB rating: 8.2)</br>
Rain Man  (IMDB rating: 8.0)</br>
Memory Love  (IMDB rating: 7.9)</br>
Hamid  (IMDB rating: 7.8)</br>
Seven Sundays  (IMDB rating: 7.8)</br>
Jack Whitehall: Travels with My Father  (IMDB rating: 7.7)</br>
Inuyasha the Movie 3: Swords of an Honorable Ruler  (IMDB rating: 7.7)</br>
Hey Arnold! The Jungle Movie  (IMDB rating: 7.6)</br>
Do Dooni Chaar  (IMDB rating: 7.6)</br>
Hugo  (IMDB rating: 7.5)</br>
Palm Trees in the Snow  (IMDB rating: 7.4)</br>
Kabhi Khushi Kabhie Gham  (IMDB rating: 7.4)</br>
Locke & Key  (IMDB rating: 7.4)</br>
</br></br><a href=index.html>start over</a>