 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Stories by Rabindranath Tagore  (IMDB rating: 8.8)</br>
Springsteen On Broadway  (IMDB rating: 8.5)</br>
Whispers  (IMDB rating: 8.4)</br>
Jeopardy!  (IMDB rating: 8.2)</br>
I Am Not Your Negro  (IMDB rating: 7.9)</br>
Marriage Story  (IMDB rating: 7.9)</br>
Road to Roma  (IMDB rating: 7.7)</br>
Franca: Chaos and Creation  (IMDB rating: 7.6)</br>
American Factory  (IMDB rating: 7.4)</br>
Tiny House Nation  (IMDB rating: 7.2)</br>
13th: A Conversation with Oprah Winfrey & Ava DuVernay  (IMDB rating: 7.1)</br>
Look & See: A Portrait of Wendell Berry  (IMDB rating: 7.1)</br>
Léa & I  (IMDB rating: 6.7)</br>
72 Dangerous Animals: Latin America  (IMDB rating: 6.7)</br>
Recovery Boys  (IMDB rating: 6.6)</br>
Modest Heroes  (IMDB rating: 6.6)</br>
13 Reasons Why: Beyond the Reasons  (IMDB rating: 6.5)</br>
LEGO Marvel Super Heroes: Avengers Reassembled!  (IMDB rating: 6.2)</br>
Cut Bank  (IMDB rating: 6.1)</br>
93 Days  (IMDB rating: 6.0)</br>
</br></br><a href=index.html>start over</a>