 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Master of None  (IMDB rating: 8.3)</br>
Last Tango in Halifax  (IMDB rating: 8.3)</br>
Something in the Rain  (IMDB rating: 8.1)</br>
Muramba  (IMDB rating: 8.1)</br>
Home for Christmas  (IMDB rating: 7.7)</br>
Brothers  (IMDB rating: 7.7)</br>
Here to Heart  (IMDB rating: 7.6)</br>
Life Plan A and B  (IMDB rating: 7.6)</br>
Feel Good  (IMDB rating: 7.5)</br>
A Triumph of the Heart: The Ricky Bell Story  (IMDB rating: 7.4)</br>
Raman Raghav 2.0  (IMDB rating: 7.4)</br>
Unrequited Love  (IMDB rating: 7.3)</br>
See You in Time  (IMDB rating: 7.3)</br>
Posesif  (IMDB rating: 7.3)</br>
Evvarikee Cheppoddu  (IMDB rating: 7.2)</br>
She's Dating the Gangster  (IMDB rating: 7.2)</br>
Loudon Wainwright III: Surviving Twin  (IMDB rating: 7.2)</br>
Grass is Greener  (IMDB rating: 7.2)</br>
The One I Love  (IMDB rating: 7.1)</br>
Wanderlust  (IMDB rating: 7.1)</br>
</br></br><a href=index.html>start over</a>