 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Louis C.K.: Hilarious  (IMDB rating: 8.5)</br>
Molang  (IMDB rating: 8.5)</br>
Love, Death & Robots  (IMDB rating: 8.5)</br>
My Next Guest Needs No Introduction With David Letterman  (IMDB rating: 7.9)</br>
The Beginning of Life  (IMDB rating: 7.6)</br>
Miracle  (IMDB rating: 7.5)</br>
Jeff Dunham: Controlled Chaos  (IMDB rating: 7.5)</br>
Can You Hear Me?  (IMDB rating: 7.4)</br>
Gentefied  (IMDB rating: 7.4)</br>
Wynonna Earp  (IMDB rating: 7.4)</br>
Numero Zero: The Roots of Italian Rap  (IMDB rating: 7.4)</br>
Shrek the Musical  (IMDB rating: 7.1)</br>
The Invitation  (IMDB rating: 6.6)</br>
The Creative Brain  (IMDB rating: 6.3)</br>
David Brent: Life on the Road  (IMDB rating: 6.3)</br>
Delhi-6  (IMDB rating: 6.1)</br>
LEGO Marvel Spider-Man: Vexed By Venom  (IMDB rating: 6.0)</br>
Come and Find Me  (IMDB rating: 5.7)</br>
Tum Milo Toh Sahi  (IMDB rating: 5.6)</br>
Vampires vs. the Bronx  (IMDB rating: 5.6)</br>
</br></br><a href=index.html>start over</a>