 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Kingdom  (IMDB rating: 8.4)</br>
LEGO Friends: Girls on a Mission  (IMDB rating: 7.6)</br>
Mission Control: The Unsung Heroes of Apollo  (IMDB rating: 7.6)</br>
My Little Pony: Friendship Is Magic  (IMDB rating: 7.6)</br>
Kulipari: Dream Walker  (IMDB rating: 7.4)</br>
The 12th Man  (IMDB rating: 7.4)</br>
Blazing Transfer Students  (IMDB rating: 7.3)</br>
Toilet: A Love Story  (IMDB rating: 7.2)</br>
Naruto Shippuden the Movie: The Lost Tower  (IMDB rating: 7.0)</br>
A Shaun the Sheep Movie: Farmageddon  (IMDB rating: 6.9)</br>
Transformers: Cyberverse  (IMDB rating: 6.8)</br>
Paskal: The Movie  (IMDB rating: 6.8)</br>
Bard of Blood  (IMDB rating: 6.8)</br>
Naruto the Movie: Ninja Clash in the Land of Snow  (IMDB rating: 6.7)</br>
Warrior  (IMDB rating: 6.7)</br>
Quantum of Solace  (IMDB rating: 6.6)</br>
The Ottoman Lieutenant  (IMDB rating: 6.6)</br>
Act of Valor  (IMDB rating: 6.5)</br>
Transformers: Rescue Bots  (IMDB rating: 6.5)</br>
Dating Around  (IMDB rating: 6.3)</br>
</br></br><a href=index.html>start over</a>