 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Yeh Meri Family  (IMDB rating: 9.1)</br>
Los Briceño  (IMDB rating: 8.0)</br>
Medici: Masters of Florence  (IMDB rating: 7.9)</br>
Ride Upon the Storm  (IMDB rating: 7.7)</br>
Sorjonen  (IMDB rating: 7.6)</br>
Sisters  (IMDB rating: 7.6)</br>
Sadqay Tumhare  (IMDB rating: 7.4)</br>
The Innocent Man  (IMDB rating: 7.3)</br>
Sam Kinison: Breaking the Rules  (IMDB rating: 7.3)</br>
Love  (IMDB rating: 7.2)</br>
Evening Shadows  (IMDB rating: 7.1)</br>
A Second Chance  (IMDB rating: 7.1)</br>
Dil  (IMDB rating: 7.0)</br>
Belgica  (IMDB rating: 6.7)</br>
Destiny  (IMDB rating: 6.3)</br>
Barakah Meets Barakah  (IMDB rating: 6.2)</br>
Your Son  (IMDB rating: 6.1)</br>
The Investigator: A British Crime Story  (IMDB rating: 5.7)</br>
Goldie  (IMDB rating: 5.5)</br>
Son Of Adam  (IMDB rating: 5.3)</br>
</br></br><a href=index.html>start over</a>