 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Vietnam War  (IMDB rating: 9.1)</br>
The Last Dance  (IMDB rating: 9.1)</br>
Madness in the Desert  (IMDB rating: 8.6)</br>
Ani... Dr. Kashinath Ghanekar  (IMDB rating: 8.6)</br>
Time: The Kalief Browder Story  (IMDB rating: 8.5)</br>
Bāhubali 2: The Conclusion  (IMDB rating: 8.2)</br>
Thithi  (IMDB rating: 8.2)</br>
Spotlight  (IMDB rating: 8.1)</br>
Monty Python: Almost the Truth (The Lawyer's Cut)  (IMDB rating: 8.1)</br>
Struggle: The Life and Lost Art of Szukalski  (IMDB rating: 8.0)</br>
Fiddler on the Roof  (IMDB rating: 8.0)</br>
The Silence of Others  (IMDB rating: 8.0)</br>
A Very Special Drew  (IMDB rating: 8.0)</br>
Monzón: A Knockout Blow  (IMDB rating: 7.9)</br>
Nicky Jam: El Ganador  (IMDB rating: 7.8)</br>
Unchained: The Untold Story of Freestyle Motocross  (IMDB rating: 7.8)</br>
MEGALOBOX  (IMDB rating: 7.8)</br>
Athlete A  (IMDB rating: 7.7)</br>
The Vampire Diaries  (IMDB rating: 7.7)</br>
Operation Odessa  (IMDB rating: 7.7)</br>
</br></br><a href=index.html>start over</a>