 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Uyare  (IMDB rating: 8.0)</br>
La Doña  (IMDB rating: 7.4)</br>
Enemigo íntimo  (IMDB rating: 7.4)</br>
Little Big Women  (IMDB rating: 7.3)</br>
Everything About Her  (IMDB rating: 7.2)</br>
Made You Look: A True Story About Fake Art  (IMDB rating: 7.1)</br>
Fasel Wa Naoud  (IMDB rating: 6.5)</br>
The Keeping Hours  (IMDB rating: 6.3)</br>
W.E.  (IMDB rating: 6.3)</br>
Luka Chuppi  (IMDB rating: 6.3)</br>
Natascha Kampusch: The Whole Story  (IMDB rating: 5.7)</br>
Piercing  (IMDB rating: 5.6)</br>
The Most Assassinated Woman in the World  (IMDB rating: 5.3)</br>
The Stolen  (IMDB rating: 5.3)</br>
The Unborn Child  (IMDB rating: 4.6)</br>
Berlin Berlin  (IMDB rating: 3.6)</br>
The Confrontation  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>