 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
College Romance  (IMDB rating: 8.9)</br>
Robotech  (IMDB rating: 8.5)</br>
Outlander  (IMDB rating: 8.4)</br>
Scooby-Doo! Mystery Incorporated  (IMDB rating: 8.0)</br>
City of Joy  (IMDB rating: 7.5)</br>
The Hows of Us  (IMDB rating: 7.3)</br>
Solo  (IMDB rating: 7.1)</br>
Question Mark  (IMDB rating: 7.1)</br>
Haani  (IMDB rating: 7.1)</br>
Tango  (IMDB rating: 7.0)</br>
Summertime  (IMDB rating: 7.0)</br>
She's Gotta Have It  (IMDB rating: 6.8)</br>
Sintonia  (IMDB rating: 6.7)</br>
Love for Ten: Generation of Youth  (IMDB rating: 6.6)</br>
Nasha Natasha  (IMDB rating: 6.5)</br>
Iron Man: Armored Adventures  (IMDB rating: 6.5)</br>
The Prince & Me  (IMDB rating: 5.9)</br>
</br></br><a href=index.html>start over</a>