 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_1_0_0.html>
heart</br>
simple</br>
husband</br>
making</br>
crime</br>
spirit</br>
married</br>
women</br>
innocent</br>
mother</br>
family</br>
story</br>
</a></div>
<div class="column"><a href=0_1_0_1.html>
incident</br>
prison</br>
marriage</br>
eventually</br>
crime</br>
death</br>
money</br>
documentary</br>
american</br>
friendship</br>
early</br>
story</br>
</a></div>
<div class="column"><a href=0_1_0_2.html>
relationship</br>
struggle</br>
determined</br>
money</br>
eventually</br>
movie</br>
talented</br>
mother</br>
daughter</br>
political</br>
young</br>
story</br>
</a></div>
<div class="column"><a href=0_1_0_3.html>
indian</br>
place</br>
conspiracy</br>
college</br>
police</br>
tragic</br>
growing</br>
football</br>
inside</br>
greatest</br>
history</br>
story</br>
</a></div>
<div class="column"><a href=0_1_0_4.html>
following</br>
century</br>
survival</br>
leading</br>
place</br>
force</br>
unlikely</br>
childhood</br>
fight</br>
america</br>
group</br>
story</br>
</a></div>
</div></br>
Top picks:</br>
The Last Dance  (IMDB rating: 9.1)</br>
The Vietnam War  (IMDB rating: 9.1)</br>
Yeh Meri Family  (IMDB rating: 9.1)</br>
Madness in the Desert  (IMDB rating: 8.6)</br>
Ani... Dr. Kashinath Ghanekar  (IMDB rating: 8.6)</br>
The Intouchables  (IMDB rating: 8.5)</br>
A Touch of Green  (IMDB rating: 8.5)</br>
Time: The Kalief Browder Story  (IMDB rating: 8.5)</br>
The Last Kingdom  (IMDB rating: 8.4)</br>
Rookie Historian Goo Hae-Ryung  (IMDB rating: 8.2)</br>
Old Thieves: The Legend of Artegio  (IMDB rating: 8.2)</br>
Bāhubali 2: The Conclusion  (IMDB rating: 8.2)</br>
Börü  (IMDB rating: 8.2)</br>
Thithi  (IMDB rating: 8.2)</br>
TURN: Washington's Spies  (IMDB rating: 8.1)</br>
Luis Miguel: The Series  (IMDB rating: 8.1)</br>
Monty Python: Almost the Truth (The Lawyer's Cut)  (IMDB rating: 8.1)</br>
Spotlight  (IMDB rating: 8.1)</br>
The Silence of Others  (IMDB rating: 8.0)</br>
A Very Special Drew  (IMDB rating: 8.0)</br>
</br></br><a href=index.html>start over</a>