 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Intouchables  (IMDB rating: 8.5)</br>
Rabun  (IMDB rating: 8.0)</br>
Hazaaron Khwaishein Aisi  (IMDB rating: 7.9)</br>
The Pixar Story  (IMDB rating: 7.8)</br>
The Break  (IMDB rating: 7.6)</br>
I Lost My Body  (IMDB rating: 7.6)</br>
Moonlight  (IMDB rating: 7.4)</br>
The Perfect Dictatorship  (IMDB rating: 7.2)</br>
Ittefaq  (IMDB rating: 7.2)</br>
Andre and His Olive Tree  (IMDB rating: 6.8)</br>
22 July  (IMDB rating: 6.8)</br>
Sin Senos Sí Hay Paraíso  (IMDB rating: 6.7)</br>
The Black Prince  (IMDB rating: 6.6)</br>
The Consul's Son  (IMDB rating: 6.6)</br>
CRD  (IMDB rating: 6.4)</br>
The 4th Company  (IMDB rating: 6.2)</br>
Crouching Tiger, Hidden Dragon: Sword of Destiny  (IMDB rating: 6.1)</br>
Love Is a Story  (IMDB rating: 6.1)</br>
A Tale of Love and Darkness  (IMDB rating: 6.0)</br>
Zindagi Kitni Haseen Hay  (IMDB rating: 6.0)</br>
</br></br><a href=index.html>start over</a>