 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Humsafar  (IMDB rating: 9.0)</br>
Dangal  (IMDB rating: 8.4)</br>
Paan Singh Tomar  (IMDB rating: 8.2)</br>
Alias Grace  (IMDB rating: 7.8)</br>
Hap and Leonard  (IMDB rating: 7.7)</br>
Room on the Broom  (IMDB rating: 7.6)</br>
100 Meters  (IMDB rating: 7.6)</br>
Lady Dynamite  (IMDB rating: 7.4)</br>
Final Fantasy XIV: Dad of Light  (IMDB rating: 7.3)</br>
Hello, Love, Goodbye  (IMDB rating: 7.3)</br>
The Squid and the Whale  (IMDB rating: 7.3)</br>
Hymn of Death  (IMDB rating: 7.3)</br>
Defiance  (IMDB rating: 7.2)</br>
Jenni Rivera: Mariposa de Barrio  (IMDB rating: 7.2)</br>
Dirty John  (IMDB rating: 7.2)</br>
War Dogs  (IMDB rating: 7.1)</br>
Angela's Christmas  (IMDB rating: 7.1)</br>
Kill the Irishman  (IMDB rating: 7.1)</br>
Mosul  (IMDB rating: 7.1)</br>
Fisherman’s Friends  (IMDB rating: 7.0)</br>
</br></br><a href=index.html>start over</a>