 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_2_0.html>
attempt</br>
student</br>
group</br>
marriage</br>
talented</br>
unlikely</br>
popular</br>
course</br>
little</br>
music</br>
friendship</br>
school</br>
</a></div>
<div class="column"><a href=0_2_1.html>
world</br>
living</br>
family</br>
common</br>
american</br>
romance</br>
teenager</br>
force</br>
friend</br>
student</br>
group</br>
school</br>
</a></div>
<div class="column"><a href=0_2_2.html>
helping</br>
following</br>
dance</br>
station</br>
squad</br>
comedy</br>
online</br>
field</br>
season</br>
production</br>
school</br>
senior</br>
</a></div>
<div class="column"><a href=0_2_3.html>
successful</br>
story</br>
strange</br>
friendship</br>
english</br>
struggling</br>
small</br>
friend</br>
money</br>
private</br>
school</br>
teacher</br>
</a></div>
<div class="column"><a href=0_2_4.html>
family</br>
romance</br>
college</br>
tragedy</br>
japanese</br>
elite</br>
popular</br>
father</br>
middle</br>
world</br>
student</br>
school</br>
</a></div>
</div></br>
Top picks:</br>
Zindagi Gulzar Hai  (IMDB rating: 8.9)</br>
Haikyu!!  (IMDB rating: 8.7)</br>
Age of Rebellion  (IMDB rating: 8.7)</br>
Castle and Castle  (IMDB rating: 8.6)</br>
Merlí  (IMDB rating: 8.6)</br>
ERASED  (IMDB rating: 8.5)</br>
Derry Girls  (IMDB rating: 8.4)</br>
Like Stars on Earth  (IMDB rating: 8.4)</br>
Puella Magi Madoka Magica  (IMDB rating: 8.3)</br>
Kuroko's Basketball  (IMDB rating: 8.3)</br>
Sex Education  (IMDB rating: 8.3)</br>
Ouran High School Host Club  (IMDB rating: 8.2)</br>
When Calls the Heart  (IMDB rating: 8.2)</br>
Anohana: The Flower We Saw That Day  (IMDB rating: 8.2)</br>
American Vandal  (IMDB rating: 8.2)</br>
Udaan  (IMDB rating: 8.2)</br>
One Day at a Time  (IMDB rating: 8.2)</br>
The End of the F***ing World  (IMDB rating: 8.1)</br>
Rita  (IMDB rating: 8.1)</br>
Meteor Garden  (IMDB rating: 8.1)</br>
</br></br><a href=index.html>start over</a>