 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Cardcaptor Sakura  (IMDB rating: 8.0)</br>
Undefeated  (IMDB rating: 7.7)</br>
The 36th Chamber of Shaolin  (IMDB rating: 7.7)</br>
Angel Beats!  (IMDB rating: 7.7)</br>
Extracurricular  (IMDB rating: 7.7)</br>
Monthly Girls' Nozaki-kun  (IMDB rating: 7.7)</br>
Ajin  (IMDB rating: 7.6)</br>
Girls und Panzer  (IMDB rating: 7.4)</br>
The Judgement  (IMDB rating: 7.1)</br>
The Witch: Part 1. The Subversion  (IMDB rating: 7.1)</br>
Talentime  (IMDB rating: 6.8)</br>
The Student  (IMDB rating: 6.8)</br>
Bleach  (IMDB rating: 6.4)</br>
Liv and Maddie  (IMDB rating: 6.3)</br>
Yu-Gi-Oh! Arc-V  (IMDB rating: 6.2)</br>
Afterschool  (IMDB rating: 6.1)</br>
Tiny Pretty Things  (IMDB rating: 5.8)</br>
After  (IMDB rating: 5.3)</br>
You Get Me  (IMDB rating: 4.6)</br>
The Student  (IMDB rating: 4.4)</br>
</br></br><a href=index.html>start over</a>