 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Perks of Being a Wallflower  (IMDB rating: 8.0)</br>
The Book of Sun  (IMDB rating: 7.9)</br>
QB1: Beyond the Lights  (IMDB rating: 7.8)</br>
Lady Bird  (IMDB rating: 7.4)</br>
Kuromukuro  (IMDB rating: 7.2)</br>
The Paper  (IMDB rating: 6.7)</br>
Sex Drive  (IMDB rating: 6.5)</br>
To All the Boys: Always and Forever  (IMDB rating: 6.3)</br>
Work It  (IMDB rating: 6.1)</br>
Radio Rebel  (IMDB rating: 5.9)</br>
The F**k-It List  (IMDB rating: 5.1)</br>
Mac & Devin Go to High School  (IMDB rating: 4.4)</br>
American Pie Presents: Girls' Rules  (IMDB rating: 3.7)</br>
</br></br><a href=index.html>start over</a>