 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Castle and Castle  (IMDB rating: 8.6)</br>
ERASED  (IMDB rating: 8.5)</br>
Like Stars on Earth  (IMDB rating: 8.4)</br>
Puella Magi Madoka Magica  (IMDB rating: 8.3)</br>
Anohana: The Flower We Saw That Day  (IMDB rating: 8.2)</br>
A Love So Beautiful  (IMDB rating: 8.1)</br>
The End of the F***ing World  (IMDB rating: 8.1)</br>
Shadow of Truth  (IMDB rating: 8.0)</br>
How to Sell Drugs Online (Fast)  (IMDB rating: 7.9)</br>
The Magic School Bus  (IMDB rating: 7.8)</br>
I Am Not Okay with This  (IMDB rating: 7.6)</br>
In the Dark  (IMDB rating: 7.5)</br>
The Politician  (IMDB rating: 7.5)</br>
Love, Chunibyo & Other Delusions  (IMDB rating: 7.4)</br>
Blue Jay  (IMDB rating: 7.3)</br>
The Massively Mixed-Up Middle School Mystery  (IMDB rating: 7.2)</br>
Joshua: Teenager vs. Superpower  (IMDB rating: 7.1)</br>
Super Monsters Back to School  (IMDB rating: 6.9)</br>
Operation Proposal  (IMDB rating: 6.8)</br>
Dare Me  (IMDB rating: 6.7)</br>
</br></br><a href=index.html>start over</a>