 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_2_4_4_2.html>
father</br>
couple</br>
husband</br>
overcome</br>
story</br>
order</br>
super</br>
world</br>
navigate</br>
dealing</br>
middle</br>
school</br>
</a></div>
</div></br>
Top picks:</br>
Castle and Castle  (IMDB rating: 8.6)</br>
ERASED  (IMDB rating: 8.5)</br>
Like Stars on Earth  (IMDB rating: 8.4)</br>
Puella Magi Madoka Magica  (IMDB rating: 8.3)</br>
Anohana: The Flower We Saw That Day  (IMDB rating: 8.2)</br>
Udaan  (IMDB rating: 8.2)</br>
The End of the F***ing World  (IMDB rating: 8.1)</br>
A Love So Beautiful  (IMDB rating: 8.1)</br>
Shadow of Truth  (IMDB rating: 8.0)</br>
How to Sell Drugs Online (Fast)  (IMDB rating: 7.9)</br>
Clannad  (IMDB rating: 7.9)</br>
The Magic School Bus  (IMDB rating: 7.8)</br>
West Beirut  (IMDB rating: 7.7)</br>
Elite  (IMDB rating: 7.6)</br>
I Am Not Okay with This  (IMDB rating: 7.6)</br>
In the Dark  (IMDB rating: 7.5)</br>
Quicksand  (IMDB rating: 7.5)</br>
Grand Army  (IMDB rating: 7.5)</br>
The Politician  (IMDB rating: 7.5)</br>
Sweet Home  (IMDB rating: 7.4)</br>
</br></br><a href=index.html>start over</a>