 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Ouran High School Host Club  (IMDB rating: 8.2)</br>
Meteor Garden  (IMDB rating: 8.1)</br>
Gossip Girl  (IMDB rating: 7.4)</br>
Trinkets  (IMDB rating: 7.1)</br>
Dawson's Creek  (IMDB rating: 6.6)</br>
Shortcut Safari  (IMDB rating: 6.5)</br>
Dead Kids  (IMDB rating: 5.6)</br>
House of the Witch  (IMDB rating: 4.4)</br>
Cuties  (IMDB rating: 3.1)</br>
Romina  (IMDB rating: 2.2)</br>
Stone Age  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>