 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Zindagi Gulzar Hai  (IMDB rating: 8.9)</br>
Merlí  (IMDB rating: 8.6)</br>
When Calls the Heart  (IMDB rating: 8.2)</br>
Rita  (IMDB rating: 8.1)</br>
Love Cuisine  (IMDB rating: 8.1)</br>
Days We Stared at the Sun  (IMDB rating: 8.0)</br>
Nightmare Teacher  (IMDB rating: 7.2)</br>
Mr. Iglesias  (IMDB rating: 7.1)</br>
Ninja Hattori-kun  (IMDB rating: 7.1)</br>
Painted Faces  (IMDB rating: 7.1)</br>
The Mess You Leave Behind  (IMDB rating: 6.8)</br>
Glee  (IMDB rating: 6.7)</br>
Outside In  (IMDB rating: 6.7)</br>
Crazy Awesome Teachers  (IMDB rating: 6.2)</br>
The Knight Before Christmas  (IMDB rating: 5.5)</br>
Hurricane Bianca: From Russia with Hate  (IMDB rating: 4.8)</br>
Bhoopadathil Illatha Oridam  (IMDB rating: 4.5)</br>
My Teacher, My Obsession  (IMDB rating: 4.4)</br>
</br></br><a href=index.html>start over</a>