 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
A Little Thing Called First Love  (IMDB rating: 8.0)</br>
The Fosters  (IMDB rating: 7.9)</br>
Miraculous: Tales of Ladybug & Cat Noir  (IMDB rating: 7.7)</br>
Accidentally In Love  (IMDB rating: 7.6)</br>
Holding the Man  (IMDB rating: 7.4)</br>
Sakaling Maging Tayo  (IMDB rating: 7.1)</br>
Go! Live Your Way  (IMDB rating: 7.0)</br>
Greenhouse Academy  (IMDB rating: 6.9)</br>
DC Super Hero Girls  (IMDB rating: 6.9)</br>
Control Z  (IMDB rating: 6.8)</br>
Love At Seventeen  (IMDB rating: 6.5)</br>
Dear Dad  (IMDB rating: 6.4)</br>
The Miracle  (IMDB rating: 6.4)</br>
Geez & Ann  (IMDB rating: 6.1)</br>
Mundeyan Ton Bachke Rahin  (IMDB rating: 5.8)</br>
Sierra Burgess Is a Loser  (IMDB rating: 5.8)</br>
West Coast  (IMDB rating: 5.8)</br>
Step Sisters  (IMDB rating: 5.4)</br>
Monster Island  (IMDB rating: 4.8)</br>
Something Huge  (IMDB rating: 4.5)</br>
</br></br><a href=index.html>start over</a>