 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_3_0.html>
growing</br>
deadly</br>
society</br>
early</br>
unexpectedly</br>
woman</br>
force</br>
intimate</br>
prison</br>
order</br>
young</br>
women</br>
</a></div>
<div class="column"><a href=0_3_1.html>
people</br>
journey</br>
death</br>
friend</br>
group</br>
named</br>
village</br>
living</br>
small</br>
world</br>
mother</br>
young</br>
</a></div>
<div class="column"><a href=0_3_2.html>
wealthy</br>
boyfriend</br>
desperate</br>
marry</br>
truth</br>
detective</br>
identity</br>
hospital</br>
world</br>
young</br>
woman</br>
young woman</br>
</a></div>
<div class="column"><a href=0_3_3.html>
looking</br>
heart</br>
house</br>
daughter</br>
relationship</br>
boyfriend</br>
mother</br>
young</br>
married</br>
named</br>
husband</br>
woman</br>
</a></div>
<div class="column"><a href=0_3_4.html>
people</br>
small</br>
following</br>
married</br>
daughter</br>
determined</br>
trying</br>
woman</br>
friend</br>
money</br>
young</br>
father</br>
</a></div>
</div></br>
Top picks:</br>
Avatar: The Last Airbender  (IMDB rating: 9.2)</br>
My Mister  (IMDB rating: 9.1)</br>
The Untamed  (IMDB rating: 8.9)</br>
Mr. Sunshine  (IMDB rating: 8.8)</br>
Anne with an E  (IMDB rating: 8.7)</br>
La Niña  (IMDB rating: 8.7)</br>
It's Okay to Not Be Okay  (IMDB rating: 8.7)</br>
Stranger Things  (IMDB rating: 8.7)</br>
The Queen's Gambit  (IMDB rating: 8.6)</br>
Marvel's Daredevil  (IMDB rating: 8.6)</br>
Incomplete Life  (IMDB rating: 8.6)</br>
Love on the Spectrum  (IMDB rating: 8.5)</br>
Back to 1989  (IMDB rating: 8.4)</br>
Broadchurch  (IMDB rating: 8.4)</br>
March Comes in Like a Lion  (IMDB rating: 8.4)</br>
The Legend of Korra  (IMDB rating: 8.4)</br>
My Country: The New Age  (IMDB rating: 8.3)</br>
Gurren Lagann  (IMDB rating: 8.3)</br>
My Octopus Teacher  (IMDB rating: 8.3)</br>
The Witness Who Didn't See Anything  (IMDB rating: 8.3)</br>
</br></br><a href=index.html>start over</a>