 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_3_1_4_0.html>
living</br>
discover</br>
ordinary</br>
member</br>
stage</br>
brutal</br>
place</br>
death</br>
quest</br>
violent</br>
young</br>
world</br>
</a></div>
<div class="column"><a href=0_3_1_4_1.html>
master</br>
living</br>
search</br>
named</br>
struggling</br>
turning</br>
strange</br>
group</br>
break</br>
people</br>
future</br>
young</br>
</a></div>
<div class="column"><a href=0_3_1_4_2.html>
named</br>
career</br>
secret</br>
police</br>
friendship</br>
investigate</br>
century</br>
working</br>
extraordinary</br>
mystery</br>
young</br>
solve</br>
</a></div>
<div class="column"><a href=0_3_1_4_4.html>
hotel</br>
murdered</br>
actually</br>
lover</br>
looking</br>
create</br>
innocent</br>
journalist</br>
killer</br>
lawyer</br>
murder</br>
young</br>
</a></div>
</div></br>
Top picks:</br>
Avatar: The Last Airbender  (IMDB rating: 9.2)</br>
The Untamed  (IMDB rating: 8.9)</br>
Mr. Sunshine  (IMDB rating: 8.8)</br>
The Queen's Gambit  (IMDB rating: 8.6)</br>
Marvel's Daredevil  (IMDB rating: 8.6)</br>
Incomplete Life  (IMDB rating: 8.6)</br>
Love on the Spectrum  (IMDB rating: 8.5)</br>
The Witness Who Didn't See Anything  (IMDB rating: 8.3)</br>
A Clockwork Orange  (IMDB rating: 8.3)</br>
Little Things  (IMDB rating: 8.2)</br>
Platoon  (IMDB rating: 8.1)</br>
The Tudors  (IMDB rating: 8.1)</br>
Tong: Memories  (IMDB rating: 8.0)</br>
Armed to the Teeth  (IMDB rating: 8.0)</br>
The Married Couples  (IMDB rating: 8.0)</br>
Fairy Tail  (IMDB rating: 8.0)</br>
The Artist  (IMDB rating: 7.9)</br>
Hunt for the Wilderpeople  (IMDB rating: 7.9)</br>
Merlin  (IMDB rating: 7.9)</br>
Let's Eat  (IMDB rating: 7.8)</br>
</br></br><a href=index.html>start over</a>