 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Mr. Sunshine  (IMDB rating: 8.8)</br>
The Queen's Gambit  (IMDB rating: 8.6)</br>
A Clockwork Orange  (IMDB rating: 8.3)</br>
Little Things  (IMDB rating: 8.2)</br>
Platoon  (IMDB rating: 8.1)</br>
The Tudors  (IMDB rating: 8.1)</br>
The Married Couples  (IMDB rating: 8.0)</br>
Tong: Memories  (IMDB rating: 8.0)</br>
Armed to the Teeth  (IMDB rating: 8.0)</br>
The Artist  (IMDB rating: 7.9)</br>
Udta Punjab  (IMDB rating: 7.8)</br>
Crip Camp: A Disability Revolution  (IMDB rating: 7.8)</br>
Find Yourself  (IMDB rating: 7.8)</br>
YOU  (IMDB rating: 7.7)</br>
That Winter, The Wind Blows  (IMDB rating: 7.7)</br>
Alice in Borderland  (IMDB rating: 7.7)</br>
Bhavesh Joshi Superhero  (IMDB rating: 7.6)</br>
Morocco: Love in Times of War  (IMDB rating: 7.6)</br>
Magi: Adventure of Sinbad  (IMDB rating: 7.6)</br>
The Last Kids on Earth  (IMDB rating: 7.5)</br>
</br></br><a href=index.html>start over</a>