 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Life of Brian  (IMDB rating: 8.1)</br>
The Sinner  (IMDB rating: 7.9)</br>
Elena  (IMDB rating: 7.6)</br>
Rocks  (IMDB rating: 7.6)</br>
Kuch Kuch Hota Hai  (IMDB rating: 7.6)</br>
Sleepless Society: Insomnia  (IMDB rating: 7.5)</br>
Mirage  (IMDB rating: 7.4)</br>
Knock Down the House  (IMDB rating: 7.1)</br>
The Awakening of Motti Wolkenbruch  (IMDB rating: 6.6)</br>
Cagaster of an Insect Cage  (IMDB rating: 6.2)</br>
Burn Out  (IMDB rating: 6.2)</br>
Mama's Boy  (IMDB rating: 6.0)</br>
God Bless the Broken Road  (IMDB rating: 5.6)</br>
Fitoor  (IMDB rating: 5.4)</br>
Me or My Aunt  (IMDB rating: 5.3)</br>
Sinister 2  (IMDB rating: 5.3)</br>
Freaks – You're One of Us  (IMDB rating: 5.3)</br>
Miss Culinary  (IMDB rating: nan)</br>
A Mission in an Old Movie  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>