 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Untamed  (IMDB rating: 8.9)</br>
Merlin  (IMDB rating: 7.9)</br>
Why Me?  (IMDB rating: 7.6)</br>
The Method  (IMDB rating: 7.4)</br>
Gigantosaurus  (IMDB rating: 7.2)</br>
Raising Dion  (IMDB rating: 7.2)</br>
Beirut oh Beirut  (IMDB rating: 6.7)</br>
Self/less  (IMDB rating: 6.5)</br>
Chambers  (IMDB rating: 6.5)</br>
Freud  (IMDB rating: 6.5)</br>
The Holy Man 2  (IMDB rating: 5.2)</br>
First Kill  (IMDB rating: 5.0)</br>
</br></br><a href=index.html>start over</a>