 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Marvel's Daredevil  (IMDB rating: 8.6)</br>
The Witness Who Didn't See Anything  (IMDB rating: 8.3)</br>
Badla  (IMDB rating: 7.8)</br>
Let's Eat  (IMDB rating: 7.8)</br>
Vincenzo  (IMDB rating: 7.7)</br>
Who Killed Little Gregory?  (IMDB rating: 7.4)</br>
The Mire  (IMDB rating: 6.9)</br>
Sincerely Yours, Dhaka  (IMDB rating: 6.9)</br>
Last Ferry  (IMDB rating: 6.0)</br>
The Bittersweet  (IMDB rating: 5.1)</br>
The Drowning  (IMDB rating: 4.4)</br>
</br></br><a href=index.html>start over</a>