 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Locked Up  (IMDB rating: 8.2)</br>
Kartini: Princess of Java  (IMDB rating: 7.7)</br>
Hong Kong West Side Stories  (IMDB rating: 7.5)</br>
Can't Cope, Won't Cope  (IMDB rating: 7.3)</br>
Avlu  (IMDB rating: 7.2)</br>
Soni  (IMDB rating: 7.1)</br>
Radium Girls  (IMDB rating: 6.3)</br>
The Forest of Love  (IMDB rating: 6.3)</br>
Only  (IMDB rating: 5.1)</br>
Knock Knock  (IMDB rating: 4.9)</br>
MILF  (IMDB rating: 4.7)</br>
Teen Mom 2  (IMDB rating: 4.3)</br>
Because We're Heading Out  (IMDB rating: 4.0)</br>
</br></br><a href=index.html>start over</a>