 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Kid Cosmic  (IMDB rating: 8.2)</br>
Young & Hungry  (IMDB rating: 7.4)</br>
Divines  (IMDB rating: 7.4)</br>
War Horse  (IMDB rating: 7.2)</br>
Reckoning  (IMDB rating: 6.6)</br>
The Kite  (IMDB rating: 6.5)</br>
The Bund  (IMDB rating: 6.4)</br>
Cardboard Gangsters  (IMDB rating: 6.4)</br>
Uncertain Glory  (IMDB rating: 6.2)</br>
The Next Step  (IMDB rating: 6.0)</br>
SWORD GAI: The Animation  (IMDB rating: 5.9)</br>
We Need to Talk  (IMDB rating: 5.8)</br>
Stephanie  (IMDB rating: 5.8)</br>
Loev  (IMDB rating: 5.8)</br>
The Rap Game  (IMDB rating: 5.5)</br>
Gang of the Caribbean  (IMDB rating: 5.2)</br>
Summer Night  (IMDB rating: 4.8)</br>
Love Like the Falling Rain  (IMDB rating: 4.7)</br>
Death Note  (IMDB rating: 4.5)</br>
</br></br><a href=index.html>start over</a>