 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Avatar: The Last Airbender  (IMDB rating: 9.2)</br>
Love on the Spectrum  (IMDB rating: 8.5)</br>
Fairy Tail  (IMDB rating: 8.0)</br>
Who Am I  (IMDB rating: 7.6)</br>
The Short Game  (IMDB rating: 7.4)</br>
Eeb Allay Ooo!  (IMDB rating: 7.4)</br>
The Hater  (IMDB rating: 7.1)</br>
Leo & Tig  (IMDB rating: 7.1)</br>
Levius  (IMDB rating: 7.0)</br>
LEGO Elves  (IMDB rating: 6.8)</br>
The Protector  (IMDB rating: 6.7)</br>
P. King Duckling  (IMDB rating: 6.0)</br>
6 Years  (IMDB rating: 5.6)</br>
The Roommate  (IMDB rating: 4.8)</br>
Abdu Mouta  (IMDB rating: 2.9)</br>
</br></br><a href=index.html>start over</a>