 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
My Octopus Teacher  (IMDB rating: 8.3)</br>
The Invisible Guest  (IMDB rating: 8.1)</br>
The Help  (IMDB rating: 8.0)</br>
Into the Badlands  (IMDB rating: 8.0)</br>
The Animal People  (IMDB rating: 7.7)</br>
Stardust  (IMDB rating: 7.6)</br>
The Haunting of Bly Manor  (IMDB rating: 7.4)</br>
Okja  (IMDB rating: 7.3)</br>
Growing Up Wild  (IMDB rating: 7.3)</br>
Kaabil  (IMDB rating: 7.1)</br>
Zoo  (IMDB rating: 6.8)</br>
The Polar Express  (IMDB rating: 6.6)</br>
Kilometers and Kilometers  (IMDB rating: 6.4)</br>
Double World  (IMDB rating: 6.1)</br>
Kurbaan  (IMDB rating: 5.7)</br>
Becoming Duru  (IMDB rating: 5.7)</br>
Sahara  (IMDB rating: 5.5)</br>
Freshman Year  (IMDB rating: 5.0)</br>
P  (IMDB rating: 5.0)</br>
Five Nights in Maine  (IMDB rating: 4.7)</br>
</br></br><a href=index.html>start over</a>