 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_4_0.html>
sinister</br>
given</br>
unexpectedly</br>
inspired</br>
choice</br>
young</br>
childhood</br>
father</br>
escape</br>
doesn</br>
family</br>
wealthy</br>
</a></div>
<div class="column"><a href=0_4_1.html>
hometown</br>
youth</br>
scene</br>
daughter</br>
world</br>
night</br>
power</br>
struggle</br>
monster</br>
teenage</br>
drama</br>
family</br>
</a></div>
<div class="column"><a href=0_4_2.html>
obsessed</br>
battle</br>
return</br>
forced</br>
suddenly</br>
comedy</br>
special</br>
children</br>
secret</br>
stand</br>
world</br>
family</br>
</a></div>
<div class="column"><a href=0_4_3.html>
career</br>
death</br>
husband</br>
younger</br>
powerful</br>
brother</br>
sister</br>
mother</br>
daughter</br>
young</br>
father</br>
family</br>
</a></div>
<div class="column"><a href=0_4_4.html>
important</br>
beautiful</br>
children</br>
forever</br>
change</br>
living</br>
holiday</br>
brother</br>
history</br>
house</br>
learn</br>
family</br>
</a></div>
</div></br>
Top picks:</br>
Breaking Bad  (IMDB rating: 9.5)</br>
My Next Guest with David Letterman and Shah Rukh Khan  (IMDB rating: 9.2)</br>
Regiment Diaries  (IMDB rating: 9.1)</br>
Reply 1988  (IMDB rating: 9.1)</br>
Peaky Blinders  (IMDB rating: 8.8)</br>
The Promised Neverland  (IMDB rating: 8.7)</br>
The Repair Shop  (IMDB rating: 8.7)</br>
Puffin Rock  (IMDB rating: 8.7)</br>
Demon Slayer: Kimetsu no Yaiba  (IMDB rating: 8.7)</br>
Arrested Development  (IMDB rating: 8.7)</br>
Peasants Rebellion  (IMDB rating: 8.6)</br>
The Garden of Heaven  (IMDB rating: 8.6)</br>
Shameless  (IMDB rating: 8.6)</br>
The Haunting of Hill House  (IMDB rating: 8.6)</br>
Marvel's The Punisher  (IMDB rating: 8.5)</br>
Kingdom  (IMDB rating: 8.5)</br>
JoJo's Bizarre Adventure  (IMDB rating: 8.4)</br>
Masum  (IMDB rating: 8.4)</br>
Ozark  (IMDB rating: 8.4)</br>
Heartland  (IMDB rating: 8.4)</br>
</br></br><a href=index.html>start over</a>