 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Puffin Rock  (IMDB rating: 8.7)</br>
Madam Secretary  (IMDB rating: 7.6)</br>
The Willoughbys  (IMDB rating: 6.4)</br>
Supergirl  (IMDB rating: 6.3)</br>
Lara and the Beat  (IMDB rating: 6.2)</br>
Belmonte  (IMDB rating: 6.1)</br>
The Little Vampire 3D  (IMDB rating: 5.5)</br>
The Haunted Hathaways  (IMDB rating: 5.2)</br>
English Babu Desi Mem  (IMDB rating: 4.7)</br>
Girl on the Third Floor  (IMDB rating: 4.6)</br>
Love Storm  (IMDB rating: 3.1)</br>
</br></br><a href=index.html>start over</a>