 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_4_2_1_4_0.html>
relationship</br>
power</br>
order</br>
funny</br>
terrifying</br>
unexpected</br>
determined</br>
journey</br>
battle</br>
death</br>
wrong</br>
family</br>
</a></div>
<div class="column"><a href=0_4_2_1_4_1.html>
working</br>
friend</br>
couple</br>
happy</br>
children</br>
going</br>
community</br>
government</br>
wedding</br>
suddenly</br>
follow</br>
family</br>
</a></div>
</div></br>
Top picks:</br>
My Next Guest with David Letterman and Shah Rukh Khan  (IMDB rating: 9.2)</br>
The Repair Shop  (IMDB rating: 8.7)</br>
The Haunting of Hill House  (IMDB rating: 8.6)</br>
Marvel's The Punisher  (IMDB rating: 8.5)</br>
Ozark  (IMDB rating: 8.4)</br>
JoJo's Bizarre Adventure  (IMDB rating: 8.4)</br>
Heartland  (IMDB rating: 8.4)</br>
Masum  (IMDB rating: 8.4)</br>
Atypical  (IMDB rating: 8.3)</br>
Club de Cuervos  (IMDB rating: 8.2)</br>
There Will Be Blood  (IMDB rating: 8.2)</br>
The Blue Elephant Part 2  (IMDB rating: 8.2)</br>
Bloodline  (IMDB rating: 8.0)</br>
F is for Family  (IMDB rating: 8.0)</br>
Monarca  (IMDB rating: 8.0)</br>
Heaven Without People  (IMDB rating: 7.9)</br>
Weeds  (IMDB rating: 7.9)</br>
The Borgias  (IMDB rating: 7.9)</br>
Never Have I Ever  (IMDB rating: 7.9)</br>
The Deep  (IMDB rating: 7.9)</br>
</br></br><a href=index.html>start over</a>