 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Breaking Bad  (IMDB rating: 9.5)</br>
Shameless  (IMDB rating: 8.6)</br>
Peasants Rebellion  (IMDB rating: 8.6)</br>
Drishyam  (IMDB rating: 8.2)</br>
Izzy's Koala World  (IMDB rating: 8.1)</br>
Gardeners of Eden  (IMDB rating: 8.1)</br>
Hole in the Wall  (IMDB rating: 7.9)</br>
Kabhi Haan Kabhi Naa  (IMDB rating: 7.8)</br>
Fruitvale Station  (IMDB rating: 7.5)</br>
The Conjuring  (IMDB rating: 7.5)</br>
Steal a Pencil for Me  (IMDB rating: 7.5)</br>
Marcella  (IMDB rating: 7.4)</br>
Tales of the City  (IMDB rating: 7.4)</br>
Colony  (IMDB rating: 7.4)</br>
Takki  (IMDB rating: 7.4)</br>
The Stranger  (IMDB rating: 7.3)</br>
The Piano Forest  (IMDB rating: 7.1)</br>
Remember Me  (IMDB rating: 7.1)</br>
Love for Sale 2  (IMDB rating: 7.0)</br>
Ponysitters Club  (IMDB rating: 7.0)</br>
</br></br><a href=index.html>start over</a>