 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Arrested Development  (IMDB rating: 8.7)</br>
Love Family  (IMDB rating: 7.8)</br>
Sir  (IMDB rating: 7.7)</br>
Lupin  (IMDB rating: 7.6)</br>
A Fortunate Man  (IMDB rating: 7.2)</br>
White Nights  (IMDB rating: 7.0)</br>
The Other  (IMDB rating: 6.0)</br>
Rebecca  (IMDB rating: 6.0)</br>
Tarung Sarung  (IMDB rating: 5.9)</br>
The Ghost Bride  (IMDB rating: 5.9)</br>
Arthur  (IMDB rating: 5.7)</br>
A California Christmas  (IMDB rating: 5.7)</br>
Up North  (IMDB rating: 5.5)</br>
Chief Daddy  (IMDB rating: 5.0)</br>
</br></br><a href=index.html>start over</a>