 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Kingdom  (IMDB rating: 8.5)</br>
Offspring  (IMDB rating: 8.3)</br>
Borgia  (IMDB rating: 7.8)</br>
Mere Papa, Hero Hiralal  (IMDB rating: 7.8)</br>
Hostages  (IMDB rating: 7.6)</br>
The Croods  (IMDB rating: 7.2)</br>
Revolutionary Love  (IMDB rating: 7.0)</br>
October Faction  (IMDB rating: 6.1)</br>
When Angels Sleep  (IMDB rating: 5.4)</br>
Super Monsters: Dia de los Monsters  (IMDB rating: 4.9)</br>
Immortal Classic  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>