 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Dolly Parton's Heartstrings  (IMDB rating: 7.7)</br>
Dynasty  (IMDB rating: 7.3)</br>
Mom  (IMDB rating: 7.3)</br>
Entangled  (IMDB rating: 6.8)</br>
Hope Frozen: A Quest to Live Twice  (IMDB rating: 6.7)</br>
The Guest  (IMDB rating: 6.7)</br>
Typewriter  (IMDB rating: 6.5)</br>
Fractured  (IMDB rating: 6.4)</br>
Bel Ami  (IMDB rating: 6.3)</br>
Doob  (IMDB rating: 6.2)</br>
Country Ever After  (IMDB rating: 6.1)</br>
The Vanished  (IMDB rating: 5.6)</br>
Palermo Hollywood  (IMDB rating: 5.4)</br>
Under the Eiffel Tower  (IMDB rating: 5.3)</br>
The App  (IMDB rating: 2.6)</br>
</br></br><a href=index.html>start over</a>