 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
My Next Guest with David Letterman and Shah Rukh Khan  (IMDB rating: 9.2)</br>
The Repair Shop  (IMDB rating: 8.7)</br>
The Haunting of Hill House  (IMDB rating: 8.6)</br>
Marvel's The Punisher  (IMDB rating: 8.5)</br>
Ozark  (IMDB rating: 8.4)</br>
Heartland  (IMDB rating: 8.4)</br>
Atypical  (IMDB rating: 8.3)</br>
There Will Be Blood  (IMDB rating: 8.2)</br>
Club de Cuervos  (IMDB rating: 8.2)</br>
The Blue Elephant Part 2  (IMDB rating: 8.2)</br>
Monarca  (IMDB rating: 8.0)</br>
Weeds  (IMDB rating: 7.9)</br>
Heaven Without People  (IMDB rating: 7.9)</br>
The Queen of Flow  (IMDB rating: 7.9)</br>
The Deep  (IMDB rating: 7.9)</br>
The Borgias  (IMDB rating: 7.9)</br>
A Boy Named Flora A  (IMDB rating: 7.8)</br>
Samantaral  (IMDB rating: 7.6)</br>
A Sun  (IMDB rating: 7.6)</br>
National Lampoon's Christmas Vacation  (IMDB rating: 7.6)</br>
</br></br><a href=index.html>start over</a>