 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Masum  (IMDB rating: 8.4)</br>
JoJo's Bizarre Adventure  (IMDB rating: 8.4)</br>
Bloodline  (IMDB rating: 8.0)</br>
F is for Family  (IMDB rating: 8.0)</br>
The House Arrest of Us  (IMDB rating: 7.8)</br>
Bonus Family  (IMDB rating: 7.7)</br>
My Mother's Wound  (IMDB rating: 7.4)</br>
Four Sisters And A Wedding  (IMDB rating: 7.3)</br>
The Bank Job  (IMDB rating: 7.2)</br>
Aykut Enişte  (IMDB rating: 7.1)</br>
The Royal Bengal Tiger  (IMDB rating: 6.9)</br>
Abducted in Plain Sight  (IMDB rating: 6.8)</br>
Project Marathwada  (IMDB rating: 6.5)</br>
Fabulous Lives of Bollywood Wives  (IMDB rating: 3.5)</br>
</br></br><a href=index.html>start over</a>