 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0.html>
journey</br>
friend</br>
police</br>
comedian</br>
documentary</br>
stand</br>
father</br>
group</br>
people</br>
special</br>
comedy</br>
world</br>
</a></div>
<div class="column"><a href=0_1.html>
greatest</br>
documentary</br>
movie</br>
mother</br>
different</br>
woman</br>
crime</br>
family</br>
young</br>
world</br>
based</br>
story</br>
</a></div>
<div class="column"><a href=0_2.html>
family</br>
father</br>
middle</br>
friend</br>
popular</br>
friendship</br>
senior</br>
world</br>
group</br>
teacher</br>
student</br>
school</br>
</a></div>
<div class="column"><a href=0_3.html>
women</br>
married</br>
living</br>
future</br>
husband</br>
named</br>
world</br>
mother</br>
father</br>
young woman</br>
woman</br>
young</br>
</a></div>
<div class="column"><a href=0_4.html>
house</br>
children</br>
death</br>
learn</br>
brother</br>
mother</br>
wealthy</br>
daughter</br>
world</br>
young</br>
father</br>
family</br>
</a></div>
</div></br>
Top picks:</br>
Breaking Bad  (IMDB rating: 9.5)</br>
Our Planet  (IMDB rating: 9.3)</br>
Avatar: The Last Airbender  (IMDB rating: 9.2)</br>
My Next Guest with David Letterman and Shah Rukh Khan  (IMDB rating: 9.2)</br>
Sherlock  (IMDB rating: 9.1)</br>
My Mister  (IMDB rating: 9.1)</br>
Yeh Meri Family  (IMDB rating: 9.1)</br>
The Vietnam War  (IMDB rating: 9.1)</br>
Regiment Diaries  (IMDB rating: 9.1)</br>
Leah Remini: Scientology and the Aftermath  (IMDB rating: 9.1)</br>
Ramayan  (IMDB rating: 9.1)</br>
Reply 1988  (IMDB rating: 9.1)</br>
Fullmetal Alchemist: Brotherhood  (IMDB rating: 9.1)</br>
The Last Dance  (IMDB rating: 9.1)</br>
The Dark Knight  (IMDB rating: 9.0)</br>
C/o Kancharapalem  (IMDB rating: 9.0)</br>
The Twilight Zone  (IMDB rating: 9.0)</br>
Death Note  (IMDB rating: 9.0)</br>
Humsafar  (IMDB rating: 9.0)</br>
David Attenborough: A Life on Our Planet  (IMDB rating: 9.0)</br>
</br></br><a href=index.html>start over</a>